
    {% block content %}
    {% load static%}
    {% if expediente_form.errors %}
    {% endif %}
<link href="{% static 'inicio/css/estilos-modales.css'%}" rel='stylesheet' type='text/css'>

<form method="POST" id="expedienteForm">
    {% csrf_token %}
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Agregue el expediente CEDOC" autocomplete="off" required name="expediente_cedoc_data" id="id_expediente_cedoc_data">
  </div>

  <div class="form-group form-check-inline">
    <label for="id_archivo_Expedientes_CEDOC">Subir Archivo:</label>
    <input type="file" class="form-control" required name="archivo_Expedientes_CEDOC" id="id_archivo_Expedientes_CEDOC">
  </div>

    <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-success" onclick="guardarExpediente()">Guardar</button>
    <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Cancelar</button>
  </div>

</form>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  
    function guardarExpediente() {
      var formData = new FormData(document.getElementById('expedienteForm'));
      $.ajax({
        url: "{% url 'agregar_expediente_CEDOC' task_id=inmueble.id %}",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          // Maneja la respuesta (puedes mostrar un mensaje de éxito, cerrar el modal, etc.)
          console.log(data);
          // Cerrar el modal (si es necesario)
          $("#expedienteModal").modal("hide");
          // Mostrar la alerta de éxito
          swal("Éxito", "Expediente CEDOC agregado correctamente.", "success");
          // Recargar la página o realizar otras acciones según sea necesario
          setTimeout(function () {
                location.reload();
            }, 2000); // 5000 milisegundos = 5 segundos
        },
        error: function (error) {
          console.error(error);
          if (error.status === 400 && error.responseJSON && error.responseJSON.error_message) {
            swal("Error", error.responseJSON.error_message, "error");
    
            // Puedes mostrar los errores de formulario si es necesario
            var formErrors = error.responseJSON.errors;
            if (formErrors) {
              console.log(formErrors);
              // Manejar los errores de formulario, por ejemplo, resaltando los campos con errores
            }
          } else {
            swal("Error", "Se produjo un error al procesar la solicitud", "error");
          }
        }
      });
    }
    </script>
    
{% endblock %}