


/* Estilo para el botón de guardar */
form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para el botón de cancelar */
form a.btn-secondary {
    display: inline-block;
    background-color: #6c757d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}


.btn-cancelar {
    text-decoration: none;
    background-color: #cd2528;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}