<h4>Dar de Baja Tarea</h4>
<form method="post" id="bajaForm" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="{{ baja_form.fecha_baja.id_for_label }}">Fecha de Baja:</label>
        {{ baja_form.fecha_baja }}
    </div>

    <div class="form-group">
        <label for="{{ baja_form.causa_baja.id_for_label }}">Causa de Baja:</label>
        {{ baja_form.causa_baja }}
    </div>

    <div class="form-group">
        <label for="{{ baja_form.detalle_baja.id_for_label }}">Detalle de Baja:</label>
        {{ baja_form.detalle_baja }}
    </div>

    <button type="submit" id="darDeBaja" class="btn btn-danger">Dar de Baja</button>
</form>