{% extends 'base.html' %} {% block content %}

<h1 class="text-center m-2">Crear Alta</h1>

{{ error }}
<div class="row justify-content-center">
  <form action="{% url 'create_DatosLlamadasInmueble' %}" class="col-md-8 mb-2 m-4" enctype="multipart/form-data"
    method="POST">
    {% csrf_token %}
    <div class="form-group form-check">
      <label for="{{ form.NombreInmueble.id_for_label }}">Nombre del Inmueble:</label>
      {{ form.NombreInmueble }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ form.nombre_del_contacto.id_for_label }}">Nombre del contacto:</label>
      {{ form.nombre_del_contacto }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ form.puesto_o_cargo.id_for_label }}">Puesto o cargo:</label>
      {{ form.puesto_o_cargo }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ form.tel_plantel.id_for_label }}">telefono del Plantel:</label>
      {{ form.tel_plantel }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ form.prioridad.id_for_label }}">Prioridad:</label>
      {{ form.prioridad }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ form.deadline.id_for_label }}">Fecha límite:</label>
      <input type="date" id="{{ form.deadline.id_for_label }}" name="{{ form.deadline.name }}" />
    </div>

    <div class="form-group form-check-inline">
      <label for="{{ form.assigned_task.id_for_label }}">Asignar a:</label>
      {{ form.assigned_task }}
    </div>

    <div class="form-group form-check-inline form-check-inline" id="fecha_documento_group">
      <label for="{{ form.creado.id_for_label }}">Fecha de Creación:</label>
      <input type="date" id="{{ form.creado.id_for_label }}" name="{{ form.creado.name }}" class="form-control"
        value="{{ form_llamada.creado.value|default:'' }}" max="{{ 'now'|date:'Y-m-d' }}"
        onchange="validateDate(this, 'creado')" />
    </div>
    <div id="dateAlertDocumento" class="alert alert-danger" style="display: none"></div>

    <button type="submit">Generar Alta</button>
  </form>
</div>

<script>
  function validateDate(input, alertType) {
    var selectedDate = new Date(input.value);
    var currentDate = new Date();
    if (selectedDate > currentDate) {
      var alert = document.getElementById("dateAlertDocumento");
      alert.textContent = "La fecha no puede ser posterior a la fecha actual.";
      alert.style.display = "block";
      alert.style.position = "fixed";
      alert.style.top = "10px";
      alert.style.right = "10px";
      alert.style.zIndex = "1000"; 
      input.value = ""; 
      setTimeout(function () {
        alert.style.display = "none";
      }, 5000);
    } else {
      document.getElementById("dateAlertDocumento").style.display = "none";
    }
  }
</script>
<style>form{max-width:600px;margin:0 auto;padding:20px;border:1px solid #ccc;border-radius:8px;box-shadow:0 2px 4px rgba(0,0,0,0.1);}.footer{position:fixed;bottom:-5em;margin-left:0;}.form-group{margin-bottom:20px;}.form-group label{display:block;margin-bottom:5px;}.form-group input,.form-group select,.form-group textarea{width:100%;padding:10px;border:1px solid #ccc;border-radius:4px;}button[type="submit"]{padding:10px 20px;border:none;border-radius:4px;cursor:pointer;font-weight:bold;text-transform:uppercase;background-color:#007bff;color:#fff;}@media screen and (max-width:768px){form{padding:10px;}.form-group input,.form-group select,.form-group textarea{padding:8px;}button[type="submit"]{padding:8px 16px;}}</style>

{% endblock %}