{% extends 'base.html' %}
{% block titulo %} Detalles {{ ficha.NombreInmueble }} {% endblock %}

{% block content %}
  <div class="task-detail-container ">
    <h2 class="text-center">{{ ficha.NombreInmueble }}</h2>
    {{ error }}
    <form method="post" action="{% url 'task_detail_llamadas' ficha.id%}" enctype="multipart/form-data" class="task-form" id="form_detail">
      {% csrf_token %}
      
      <!-- Campos del formulario -->

      <div class="task-form-container">
        <div id="mobile-menu-button" class="mobile-menu-button"> &#9776; </div>
        <div class="tabs">
          <div class="tab active" data-tab="tab-registros">Registros de llamadas</div>
          <div class="tab" data-tab="tab-descripcion">Datos Generales</div>
        </div>

        <div class="tab-content">
          <div class="tab-content-item" data-tab="tab-registros">Registros de llamadas</div>
          <div class="tab-content-item" data-tab="tab-descripcion">Datos Generales</div>
        </div>
        <div class="form-group form-check-inline">
          {% if inmueble.rfi %}
          <label for="{{inmueble.rfi.id_for_label}}">RFI:</label>       
          <input class="form-control form-control-sm text-center" type="text" id="{{llamadas.rfi.id}}" name="{{llamadas.rfi.name}}" value='{{llamadas.rfi.value}}' readonly >
          {% endif %}
        </div>
        {% include 'extends_importados/registrollamadas.html' %}
        {% include 'extends_importados/info_inmueble_llamadas.html' %}
        <button type="button" class="btn btn-outline-primary actualizar" onclick="mostrarAlerta()">Guardar Cambios</button>
      </div>
    </form>
    {% load static%}
</div>

  

<style>.footer{ margin-top: 20em;}</style>
{% include 'styles-home.html' %}
{% if message %}
  <script>
    Swal.fire({
      title: "{{ message.title }}",
      text: "{{ message.text }}",
      icon: "{{ message.icon }}",
      timer: 3000,  // Duración de la alerta en milisegundos (opcional)
      showConfirmButton: false, // Oculta el botón de confirmación
    });
  </script>
{% endif %}
{% endblock %}
