{% extends 'base.html' %}

{% block titulo %} Tareas Pendientes {% endblock %}

{% block content %}

<form class="search-form animated fadeIn" method="GET">
  <!-- Campo de búsqueda -->
  <div class="input-group">
    <input type="text" name="q" placeholder="Buscar por Nombre, RFI, Entidad Federativa o Municipio" value="{{ search_query }}" class="form-control">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="submit">Buscar</button>
    </div>
  </div>
  
  <!-- Selector de Prioridad -->
  <div class="m-3 form-group animated fadeIn">
    <label for="prioridad"></label>
    <select id="prioridad" name="prioridad" class="form-control m-3">
        <option value="">Prioridad</option>
        <option value="">Todas</option>
        <option value="Alta">Alta</option>
        <option value="Media">Media</option>
        <option value="Baja">Baja</option>
    </select>
  </div>

  <!-- Selector de UR -->
  <div class="m-3 form-group animated fadeIn">
    <label for="ur-select"></label>
    <select id="ur-select" name="ur" class="form-control m-2">
        <option value="">UR</option>
        <option value="CGEE">CGEE</option>
        <option value="DGB">DGB</option>
        <option value="DGBTEPD">DGBTEPD</option>
        <option value="DGCFT">DGCFT</option>
        <option value="DGETAyCM">DGETAyCM</option>
        <option value="DGETI">DGETI</option>
        <option value="DGRMyS">DGRMyS</option>
        <option value="RESEMS">RESEMS</option>
    </select>
  </div>

  <!-- Selector de Ordenar -->
  <div class="m-3 form-group animated fadeIn">
    <label for="ordenar-por"></label>
    <select id="ordenar-por" name="ordenar" class="form-control m-2">
        <option value="">Ordenar</option>
        <option value="">Más Utilizados</option>
        <option value="az">A a Z</option>
        <option value="za">Z a A</option>
        <option value="nuevo">Más nuevo</option>
        <option value="viejo">Más viejo</option>
    </select>
  </div>
  <a href="{% url 'export_tasks_to_excelIMP' %}" aria-label="Export" class="btn btn-outline-success btn-sm m-2 excell">Exportar Excel <i class="fas fa-file-excel"></i></a>

{% if mensaje %}
    <p>{{ mensaje }}</p>
{% endif %}

</form>


{% if message %}
    <p>{{ message }}</p>
{% endif %}
<div id="message-container">
  <!-- Aquí se mostrará el mensaje -->
</div>

  <div class="totals-card animated fadeIn">
    <div class="totals-container">
      <p class="total-label">Completados:</p>
      <p class="total-value">{{ total_pending_inmuebles }}</p>
    </div>
    <h3 class="text-center" style="color: #4b4b4b;">INMUEBLES REGISTRADOS</h3>
    <div class="totals-container">
      <p class="total-label">Terminados:</p>
      <p class="total-value">{{ total_completed_inmuebles }}</p>
    </div>
  </div>

  {% if inmuebles %}
  <div class="container animated fadeIn">
    <div class="table-responsive">
    <table class="table table-striped responsive">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>RFI</th>>
          <th>Entidad Federativa</th>
          <th>Municipio</th>
          <th>UR</th>
          <th>Prioridad</th>
          <th>Asignado a</th>
          <th>Entrega para</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for task in inmuebles %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              {% if task.important %}
                <strong>{{ task.NombreInmueble }}</strong>
              {% else %}
                {{ task.NombreInmueble }}
              {% endif %}
            </td>
            <td>{% if task.estado == 'Activo' %}Activo{% else %}Baja{% endif %}</td>
            <td>{{ task.rfi|default:"SIN ASIGNAR" }}</td>
            <td>{{ task.entidad_federativa|default:"SIN ASIGNAR" }}</td>
            <td>{{ task.municipio_alcaldia|default:"SIN ASIGNAR" }}</td>
            <td>{{ task.UR|default:"SIN ASIGNAR" }}</td>
            <td>
                {{ task.prioridad|default:"SIN ASIGNAR" }}
            </td>
            <td>
              {% if task.assigned_to %}
                {{ task.assigned_to.first_name|default:"SIN ASIGNAR" }} {{ task.assigned_to.last_name|default:"SIN ASIGNAR" }}
              {% else %}
                SIN ASIGNAR
              {% endif %}
            </td>
            <td>{{ task.deadline|default:"SIN ASIGNAR" }}</td>
            <td>
              <a style="text-decoration: none; margin-right: 15px;" href="{% url 'Detalle_inmueble' task.id %}" class="text-primary" aria-label="Ver detalles">
                <i class="bi bi-info-circle-fill"></i>
              </a>
              <a href="{% url 'generate_pdfIMP' task.id %}" target="_blank" class="text-danger" aria-label="Generar PDF">
                <i class="bi bi-file-earmark-pdf"></i>  
              </a>
            </td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

    <!-- Paginación -->
    <div class="text-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if inmuebles.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?q={{ search_query }}&prioridad={{ prioridad }}&ur={{ ur }}&ordenar={{ orden }}&page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?q={{ search_query }}&prioridad={{ prioridad }}&ur={{ ur }}&ordenar={{ orden }}&page={{ inmuebles.previous_page_number }}">{{ inmuebles.previous_page_number }}</a>
            </li>
          {% endif %}

          <li class="page-item active"><span class="page-link">{{ inmuebles.number }}</span></li>

          {% if inmuebles.has_next %}
            <li class="page-item">
              <a class="page-link" href="?q={{ search_query }}&prioridad={{ prioridad }}&ur={{ ur }}&ordenar={{ orden }}&page={{ inmuebles.next_page_number }}">{{ inmuebles.next_page_number }}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?q={{ search_query }}&prioridad={{ prioridad }}&ur={{ ur }}&ordenar={{ orden }}&page={{ inmuebles.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% else %}
  <p class="m-5">No se encontraron inmuebles que coincidan con la búsqueda.</p>
{% endif %}


{% include 'styles-home.html' %}



{% endblock %}
