<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Envío automático del formulario al cambiar el selector de Prioridad
  document.getElementById("prioridad").addEventListener("change", function() {
      this.form.submit();
  });

  // Envío automático del formulario al cambiar el selector de UR
  document.getElementById("ur-select").addEventListener("change", function() {
      this.form.submit();
  });

  // Envío automático del formulario al cambiar el selector de Ordenar
  document.getElementById("ordenar-por").addEventListener("change", function() {
      this.form.submit();
  });
</script>
<style>

</style>


<!-- SCRIPT LLAMADAS -->
<script>
    // Función para mostrar una confirmación antes de completar
    function showCompleteConfirmation() {
      Swal.fire({
        title: '¿Estás seguro?',
        text: 'Una vez completada, la tarea ya no podrá ser modificada.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#28a745',
        cancelButtonColor: '#dc3545',
        confirmButtonText: 'Sí, Completar',
        cancelButtonText: 'Cancelar',
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('complete-form').submit();
        }
      });
    }


  document.addEventListener('DOMContentLoaded', function () {
    const tabs = document.querySelectorAll('.tab');
    const tabContents = document.querySelectorAll('.tab-content');
    const localStorageKey = 'activeTab';

    // Función para activar una pestaña
    function activateTab(tab) {
      const targetTab = tab.dataset.tab;
      tabs.forEach((tab) => tab.classList.remove('active'));
      tabContents.forEach((content) => content.classList.remove('active'));
      tab.classList.add('active');
      document.getElementById(targetTab).classList.add('active');

      // Guarda la pestaña activa en localStorage
      localStorage.setItem(localStorageKey, targetTab);
    }

    // Asigna eventos a las pestañas
    tabs.forEach((tab) => {
      tab.addEventListener('click', () => {
        activateTab(tab);
      });
    });

    // Recupera la pestaña activa de localStorage al cargar la página
    const savedActiveTab = localStorage.getItem(localStorageKey);
    if (savedActiveTab) {
      const tabToActivate = document.querySelector(`[data-tab="${savedActiveTab}"]`);
      if (tabToActivate) {
        activateTab(tabToActivate);
      }
    }
  });

 // Función mostrar alerta antes de guardar
  function mostrarAlerta() {
    Swal.fire({
      title: '¿Estás seguro de guardar?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Sí, Guardar',
      cancelButtonText: 'Cancelar',
      confirmButtonColor: '#28a745',
      cancelButtonColor: '#dc3545'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById('form_detail').submit();
        Swal.fire({
          title: '¡Se han guardado los cambios!',
          icon: 'success',
          timer: 2000,
          showConfirmButton: false
        });
      } else {
        Swal.fire({
          title: 'No se han realizado cambios',
          icon: 'info',
          timer: 1500,
          showConfirmButton: false
        });
      }
    });
  }

  // Función para confirmar completado de tarea
  function showCompleteConfirmation() {
    Swal.fire({
      title: '¿Estás seguro?',
      text: 'Una vez completada, la tarea ya no podrá ser modificada.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#28a745',
      cancelButtonColor: '#dc3545',
      confirmButtonText: 'Sí, Completar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById('complete-form').submit();
      }
    });
  }
</script>
