{% extends 'base.html' %}
{% block titulo %} Detalles {{ task.NombreInmueble }} {% endblock %}

{% block content %}
  <div class="task-detail-container">
    <h2>{{ task.NombreInmueble }}</h2>
    {{ error }}
    <form method="post" action="{% url 'task_detail_importados' task.id%}" enctype="multipart/form-data" class="task-form">
      {% csrf_token %}
      
      <!-- Campos del formulario -->



      <div class="task-form-container">
        <div class="tabs">
          <div class="tab active" data-tab="tab-encabezado">Encabezado</div>
          <div class="tab" data-tab="tab-descripcion">Datos Generales</div>
          <div class="tab" data-tab="tab-ubicacion">Ubicación</div>
          <div class="tab" data-tab="tab-caracteristicas">Características</div>
          <div class="tab" data-tab="tab-tituloProp">TÍTULO DE PROPIEDAD</div>
          <div class="tab" data-tab="tab-uso">Uso</div>
          <div class="tab" data-tab="tab-aprovechamiento">Aprovechamiento</div>
          <div class="tab" data-tab="tab-valor">Valor</div>
          <div class="tab" data-tab="tab-tramites-ocupaciones">Trámites y Ocupaciones</div>
          <div class="tab" data-tab="tab-observaciones">Observaciones</div>
     
        </div>

        <div class="form-group form-check-inline centered">
          <label>RFI:  {{inmueble.rfi}}</label>
      </div>
      <div class="form-group form-check-inline">
          <label for="{{ form.rfiProv.id_for_label }}">RFI Provicional:</label>
          {{ inmueble.rfiProv }}
      </div>
        
      
        {% include 'extends_importados/encabezado.html' %}
        {% include 'extends_importados/datos_generales.html' %}
        {% include 'extends_importados/ubicacion.html' %}
        {% include 'extends_importados/caracteristicas.html' %}
        {% include 'extends_importados/tituloProp.html' %}
        {% include 'extends_importados/uso.html' %}
        {% include 'extends_importados/aprovechamiento.html' %}
        {% include 'extends_importados/valor.html' %}
        {% include 'extends_importados/tramites_ocupaciones.html' %}
        {% include 'extends_importados/observaciones.html' %}


        <button type="submit" class="btn btn-primary">Actualizar</button>
      </div>
    </form>
  </div>

  <a href="{% url 'generate_pdf' task.id %}" class="btn btn-primary" target="_blank">
    <i class="fas fa-file-pdf"></i> Generar PDF
</a>


  <div class="task-action-buttons">
    <form id="complete-form" action="{% url 'complete_task_importados' task.id %}" method="POST">
      {% csrf_token %}
      <button type="button" class="btn btn-success" onclick="showCompleteConfirmation()">Completar</button>
    </form>

    <form id="delete-form" action="{% url 'bajas_importados' task.id %}" method="POST">
      {% csrf_token %}
      <button type="button" class="btn btn-warning" id="darDeBajaButton">Dar de baja</button>
  </form>
  </div>

<style>
  /* Estilos para centrar horizontalmente elementos con la clase "centered" */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

</style>
<!-- SweetAlert -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">


<script>
  document.addEventListener('DOMContentLoaded', function () {
    function confirmAndDelete(button, message) {
      button.addEventListener('click', function (event) {
        event.preventDefault();

        const url = this.dataset.url;

        if (confirm(message)) {
          fetch(url, {
            method: 'DELETE',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}',
            }
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              const row = button.closest('tr');
              row.remove();
            } else {
              console.error('Error:', data.message);
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
      });
    }

    const deleteExpedienteCedocButtons = document.querySelectorAll('.delete-expediente-cedoc-btn');
    const deleteFolioRealButtons = document.querySelectorAll('.delete-folio-real-btn');
    const deleteNumeroPlanoButtons = document.querySelectorAll('.delete-numero-plano-btn');
    const deleteEdificioVerdeButtons = document.querySelectorAll('.delete-edificio-verde-btn');
    const deleteTramiteDisposicion = document.querySelectorAll('.delete-tramite-btn');

    deleteExpedienteCedocButtons.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este expediente cedoc?');
    });

    deleteFolioRealButtons.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este Folio?');
    });

    deleteNumeroPlanoButtons.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este No. Plano?');
    });
    deleteEdificioVerdeButtons.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este Edificio verde?');
    });
    deleteTramiteDisposicion.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este Tramite?');
    });
  });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    // Función para mostrar una confirmación antes de completar
    function showCompleteConfirmation() {
      Swal.fire({
        title: '¿Estás seguro?',
        text: 'Una vez completada, la tarea ya no podrá ser modificada.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#28a745',
        cancelButtonColor: '#dc3545',
        confirmButtonText: 'Sí, Completar',
        cancelButtonText: 'Cancelar',
      }).then((result) => {
        if (result.isConfirmed) {
          // Si el usuario confirma, enviar el formulario de completar la tarea
          document.getElementById('complete-form').submit();
        }
      });
    }

    document.getElementById('darDeBajaButton').addEventListener('click', function() {
    showBajaConfirmation();
});

  
    function showBajaConfirmation() {
      Swal.fire({
          title: '¿Dar de baja esta tarea?',
          text: 'Una vez que una tarea se da de baja, no se puede modificar.',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#dc3545',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Sí, Dar de baja',
          cancelButtonText: 'Cancelar',
      }).then((result) => {
          if (result.isConfirmed) {
              // Si el usuario confirma, enviar el formulario de dar de baja
              document.getElementById('delete-form').submit();
          }
      });
  }
  

  const tabs = document.querySelectorAll('.tab');
  const tabContents = document.querySelectorAll('.tab-content');

  tabs.forEach((tab) => {
    tab.addEventListener('click', () => {
      const targetTab = tab.dataset.tab;
      tabs.forEach((tab) => tab.classList.remove('active'));
      tabContents.forEach((content) => content.classList.remove('active'));
      tab.classList.add('active');
      document.getElementById(targetTab).classList.add('active');
    });
  });
</script>

<script>
  // ... Código de scripts existente ...

  // Función para mostrar el formulario de Edificación
  function showEdificacionForm() {
    document.getElementById('edificacion-form').style.display = 'block';
    document.getElementById('terreno-form').style.display = 'none';
  }

  // Función para mostrar el formulario de Terreno
  function showTerrenoForm() {
    document.getElementById('edificacion-form').style.display = 'none';
    document.getElementById('terreno-form').style.display = 'block';
  }
</script>
<script>
  $(document).ready(function() {
      // Ocultar todos los formularios al principio
      $('#form-edificacion').hide();
      $('#form-terreno').hide();

      // Mostrar u ocultar formularios según la opción seleccionada
      $('#tipo_opcion').on('change', function() {
          var selectedOption = $(this).val();

          if (selectedOption === 'sin_informacion') {
              $('#form-edificacion').hide();
              $('#form-terreno').hide();
          } else if (selectedOption === 'edificacion' || selectedOption === 'mixto') {
              $('#form-edificacion').show();
              $('#form-terreno').hide();
          } else if (selectedOption === 'terreno') {
              $('#form-edificacion').hide();
              $('#form-terreno').show();
          }
      });
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

{% if message %}
  <script>
    Swal.fire({
      title: "{{ message.title }}",
      text: "{{ message.text }}",
      icon: "{{ message.icon }}",
      timer: 3000,  // Duración de la alerta en milisegundos (opcional)
      showConfirmButton: false, // Oculta el botón de confirmación
    });
  </script>
{% endif %}

{% endblock %}
