{% extends 'base.html' %}
{% block titulo %} Detalles {{ task.NombreInmueble }} {% endblock %}

{% block content %}
  <div class="task-detail-container">
    <h2>{{ task.NombreInmueble }}</h2>
    {{ error }}
    <form method="post" action="{% url 'task_detail_importados' task.id%}" enctype="multipart/form-data" class="task-form">
      {% csrf_token %}
      
      <!-- Campos del formulario -->



      <div class="task-form-container">
        <div class="tabs">
          <div class="tab active" data-tab="tab-mensajes">Pendientes</div>
          <div class="tab " data-tab="tab-encabezado">Encabezado</div>
          <div class="tab" data-tab="tab-descripcion">Datos Generales</div>
          <div class="tab" data-tab="tab-ubicacion">Ubicación</div>
          <div class="tab" data-tab="tab-caracteristicas">Características</div>
          <div class="tab" data-tab="tab-tituloProp">TÍTULO DE PROPIEDAD</div>
          <div class="tab" data-tab="tab-uso">Uso</div>
          <div class="tab" data-tab="tab-aprovechamiento">Aprovechamiento</div>
          <div class="tab" data-tab="tab-valor">Valor</div>
          <div class="tab" data-tab="tab-tramites-ocupaciones">Trámites y Ocupaciones</div>
          <div class="tab" data-tab="tab-observaciones">Observaciones</div>
          
     
        </div>
        <div class="form-group form-check-inline width-label centered">
          <h5>RFI: </h5>
          <input class="form-control form-control-sm text-center" type="text" id="{{inmueble.rfi.id}}" name="{{inmueble.rfi.name}}" value='{{inmueble.rfi.value}}' readonly >
        </div>
        
      <div class="form-group form-check-inline">
          <label for="{{ inmueble.rfiProv.id_for_label }}">RFI Provicional:</label>
          {{ inmueble.rfiProv }}
      </div>
        
      
        {% include 'extends_importados/encabezado.html' %}
        {% include 'extends_importados/datos_generales.html' %}
        {% include 'extends_importados/ubicacion.html' %}
        {% include 'extends_importados/caracteristicas.html' %}
        {% include 'extends_importados/tituloProp.html' %}
        {% include 'extends_importados/uso.html' %}
        {% include 'extends_importados/aprovechamiento.html' %}
        {% include 'extends_importados/valor.html' %}
        {% include 'extends_importados/tramites_ocupaciones.html' %}
        {% include 'extends_importados/observaciones.html' %}
        {% include 'extends_importados/enviar_mensaje.html' %}


        <button type="submit" class="btn btn-outline-primary actualizar">Actualizar</button>
      </div>
    </form>

    

  <div class="buttons">
    <a href="{% url 'generate_pdfIMP' task.id %}" class="btn btn-primary" target="_blank">
      <i class="fas fa-file-pdf"></i> Generar PDF
    </a>

      <form id="complete-form" action="{% url 'complete_task_importados' task.id %}" method="POST">
        {% csrf_token %}
        <button type="button" class="btn btn-success" onclick="showCompleteConfirmation()">Terminar</button>
      </form>
      <form id="delete-form" action="{% url 'bajas_importados' task.id %}" method="POST">
        {% csrf_token %}
        <button type="button" class="btn btn-warning" id="darDeBajaButton">Dar de baja</button>
      </form>

  </div>
</div>

  

<style>
  /* Estilos para centrar horizontalmente elementos con la clase "centered" */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.buttons{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 40px;
}

.archivo-style {
  width: 90%;
  height: 100%;
  margin-left: 3em;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.archivo-style input[type="file"] {
  width: 100%;
}
.fa-chevron-up {
  font-size: 25px;
  margin-bottom: 6px;
}

.archivo-style label {
  font-size: 16px;
  color: #333;
}

.archivo-style label::after {
  font-size: 14px;
  color: #999;
  cursor: pointer;
}

.archivo-style label::after:hover {
  color: #777;
}

.archivo-style .input-group-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.archivo-style .input-group-btn .btn {
  border: 0;
  background-color: transparent;
  color: #4a5cff;
  font-size: 16px;
  cursor: pointer;
}

.archivo-style .input-group-btn .btn i {
  font-size: 20px;
}

.archivo-style .input-group-btn .btn:hover {
  color: #999;
}

.contenedor-archivos{
  padding: 10px;
  border-radius: 20px;
  border: .1px solid #333;
  border-bottom-color: #c03c3c

}

@media (max-width: 436px) {

  .tab-content {
    padding: 0px;
    border: none;
    border-radius: 10px;
}

  .task-form {
    padding: 0px;
    margin-bottom: 10em;
}

  body{
    font-size: 12px;
  }

  h2, h3 , h4, h5{
    font-size: 13px;
  }

  .width-label {
    width: 100%;
}

.actualizar{
  position: relative;
  top: -2em;
  left: 9em;
}

  .task-detail-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 6px;
    border: 0px solid #ccc;
    border-radius: 7px;
    margin: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons{
  display: none;
  width: 24em;
  flex-direction: row;
  align-content: center;
}

}

</style>
<!-- SweetAlert -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">


<script>

  // Obtener el número de notificaciones no leídas del usuario
const notificationsCount = `{{ user.mensajes.unread.count }}`;

// Actualizar el badge en el botón de notificaciones
const notificationsBadge = document.getElementById('notifications-count');
notificationsBadge.textContent = notificationsCount;

// Si el número de notificaciones no leídas es mayor que 0, mostrar el botón de notificaciones
if (notificationsCount > 0) {
  const notificationsButton = document.querySelector('.notifications');
  notificationsButton.classList.remove('d-none');
} else {
  const notificationsButton = document.querySelector('.notifications');
  notificationsButton.classList.add('d-none');
}

  document.addEventListener('DOMContentLoaded', function () {
    function confirmAndDelete(button, message) {
      button.addEventListener('click', function (event) {
        event.preventDefault();

        const url = this.dataset.url;

        if (confirm(message)) {
          fetch(url, {
            method: 'DELETE',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}',
            }
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              const row = button.closest('tr');
              row.remove();
            } else {
              console.error('Error:', data.message);
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
      });
    }

    const deleteExpedienteCedocButtons = document.querySelectorAll('.delete-expediente-cedoc-btn');
    const deleteFolioRealButtons = document.querySelectorAll('.delete-folio-real-btn');
    const deleteNumeroPlanoButtons = document.querySelectorAll('.delete-numero-plano-btn');
    const deleteEdificioVerdeButtons = document.querySelectorAll('.delete-edificio-verde-btn');
    const deleteTramiteDisposicion = document.querySelectorAll('.delete-tramite-btn');
    const deleteColindancia = document.querySelectorAll('.delete-colindancia-btn');

    deleteExpedienteCedocButtons.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este expediente cedoc?');
    });

    deleteFolioRealButtons.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este Folio?');
    });

    deleteNumeroPlanoButtons.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este No. Plano?');
    });
    deleteEdificioVerdeButtons.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este Edificio verde?');
    });
    deleteTramiteDisposicion.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar este Tramite?');
    });
    deleteColindancia.forEach(button => {
      confirmAndDelete(button, '¿Estás seguro de que deseas eliminar esta Colindancia?');
    });
  });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    // Función para mostrar una confirmación antes de completar
    function showCompleteConfirmation() {
      Swal.fire({
        title: '¿Estás seguro?',
        text: 'Una vez completada, la tarea ya no podrá ser modificada.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#28a745',
        cancelButtonColor: '#dc3545',
        confirmButtonText: 'Sí, Completar',
        cancelButtonText: 'Cancelar',
      }).then((result) => {
        if (result.isConfirmed) {
          // Si el usuario confirma, enviar el formulario de completar la tarea
          document.getElementById('complete-form').submit();
        }
      });
    }

    document.getElementById('darDeBajaButton').addEventListener('click', function() {
    showBajaConfirmation();
});

  
    function showBajaConfirmation() {
      Swal.fire({
          title: '¿Dar de baja esta tarea?',
          text: 'Una vez que una tarea se da de baja, no se puede modificar.',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#dc3545',
          cancelButtonColor: '#6c757d',
          confirmButtonText: 'Sí, Dar de baja',
          cancelButtonText: 'Cancelar',
      }).then((result) => {
          if (result.isConfirmed) {
              // Si el usuario confirma, enviar el formulario de dar de baja
              document.getElementById('delete-form').submit();
          }
      });
  }
  

  const tabs = document.querySelectorAll('.tab');
  const tabContents = document.querySelectorAll('.tab-content');

  tabs.forEach((tab) => {
    tab.addEventListener('click', () => {
      const targetTab = tab.dataset.tab;
      tabs.forEach((tab) => tab.classList.remove('active'));
      tabContents.forEach((content) => content.classList.remove('active'));
      tab.classList.add('active');
      document.getElementById(targetTab).classList.add('active');
    });
  });
</script>

<script>
  // ... Código de scripts existente ...

  // Función para mostrar el formulario de Edificación
  function showEdificacionForm() {
    document.getElementById('edificacion-form').style.display = 'block';
    document.getElementById('terreno-form').style.display = 'none';
  }

  // Función para mostrar el formulario de Terreno
  function showTerrenoForm() {
    document.getElementById('edificacion-form').style.display = 'none';
    document.getElementById('terreno-form').style.display = 'block';
  }
</script>
<script>
  $(document).ready(function() {
      // Ocultar todos los formularios al principio
      $('#form-edificacion').hide();
      $('#form-terreno').hide();

      // Mostrar u ocultar formularios según la opción seleccionada
      $('#tipo_opcion').on('change', function() {
          var selectedOption = $(this).val();

          if (selectedOption === 'sin_informacion') {
              $('#form-edificacion').hide();
              $('#form-terreno').hide();
          } else if (selectedOption === 'edificacion' || selectedOption === 'mixto') {
              $('#form-edificacion').show();
              $('#form-terreno').hide();
          } else if (selectedOption === 'terreno') {
              $('#form-edificacion').hide();
              $('#form-terreno').show();
          }
      });
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>

{% if message %}
  <script>
    Swal.fire({
      title: "{{ message.title }}",
      text: "{{ message.text }}",
      icon: "{{ message.icon }}",
      timer: 3000,  // Duración de la alerta en milisegundos (opcional)
      showConfirmButton: false, // Oculta el botón de confirmación
    });
  </script>
{% endif %}



{% endblock %}
