{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="my-4">Editar Documento de Propiedad</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group form-check-inline">
            <label for="{{ form.propietario_inmueble.id_for_label }}">Propietario del inmueble según documento de propiedad:</label>
            {{ form.propietario_inmueble }}
        </div>
        <div class="form-group form-check-inline">
            <label for="{{ form.institucion_propietario.id_for_label }}">Institución Propietario:</label>
            {{ form.institucion_propietario }}
        </div>
        <div class="form-group form-check-inline">
            <label for="{{ form.superficie_amparada_m2.id_for_label }}">Superficie en m² amparada por el título de propiedad:</label>
            {{ form.superficie_amparada_m2 }}
        </div>
        <div class="form-group form-check-inline form-check-inline">
            <label for="{{ form.tipo_documento.id_for_label }}">Tipo Documento:</label>
            {{ form.tipo_documento }}
        </div>
        <div class="form-group form-check-inline form-check-inline">
            <label for="{{ form.fecha_creacion_DOC.id_for_label }}">Fecha de Creación:</label>
            {{ form.fecha_creacion_DOC }}
        </div>
        <div class="form-group form-check-inline form-check-inline">
            <label for="{{ form.expedido_por.id_for_label }}">Expedido por:</label>
            {{ form.expedido_por }}
        </div>
        <div class="form-group form-check-inline form-check-inline">
            <label for="{{ form.inscripcion_rppf.id_for_label }}">Inscripción por RPPF:</label>
            {{ form.inscripcion_rppf }}
        </div>
        <div id="folio_real_federal" style="display: none;">
            <div class="form-group form-check-inline">
                <label for="{{ form.folio_real_federal.id_for_label }}">Folio Real Federal:</label>
                {{ form.folio_real_federal }}
            </div>
        </div>
        <div id="fecha_inscripcion_federal" style="display: none;">
            <div class="form-group form-check-inline">
                <label for="{{ form.fecha_inscripcion_federal.id_for_label }}">Fecha Inscripción Federal:</label>
                {{ form.fecha_inscripcion_federal }}
            </div>
        </div>
        <div class="form-group form-check-inline">
            <label for="{{ form.numero_de_documento.id_for_label }}">Número de Documento:</label>
            {{ form.numero_de_documento }}
        </div>
        <div class="form-group form-check-inline">
            <label for="{{ form.inscripcion_registro_local.id_for_label }}">Inscripción por Registro Local:</label>
            {{ form.inscripcion_registro_local }}
        </div>
            <div class="form-group form-check-inline" id="folio_real_local" style="display: none;">
                <label for="{{ form.folio_real_local.id_for_label }}">Folio Real Local:</label>
                {{ form.folio_real_local }}
        </div>
            <div class="form-group form-check-inline" id="folio_real_auxiliar" style="display: none;">
                <label for="{{ form.folio_real_auxiliar.id_for_label }}">Folio Real Auxiliar:</label>
                {{ form.folio_real_auxiliar }}
            </div>
            <div class="form-group form-check-inline" id="nombre_libro" style="display: none;">
                <label for="{{ form.nombre_libro.id_for_label }}">Nombre del Libro:</label>
                {{ form.nombre_libro }}
            </div>
            <div class="form-group form-check-inline" id="tomo_o_volumen" style="display: none;">
                <label for="{{ form.tomo_o_volumen.id_for_label }}">Tomo o Volumen:</label>
                {{ form.tomo_o_volumen }}
            </div>
            <div class="form-group form-check-inline" id="numero" style="display: none;">
                <label for="{{ form.numero.id_for_label }}">Número:</label>
                {{ form.numero }}
            </div>
            <div class="form-group form-check-inline">
                <label for="{{ form.foja_o_folio.id_for_label }}">Foja o Folio:</label>
                {{ form.foja_o_folio }}
            </div>
            <div class="form-group form-check-inline" id="seccion" style="display: none;">
                <label for="{{ form.seccion.id_for_label }}">Sección:</label>
                {{ form.seccion }}
            </div>
            <div class="form-group form-check-inline" id="fecha_inscripcion_local" style="display: none;">
                <label for="{{ form.fecha_inscripcion_local.id_for_label }}">Fecha Inscripción Local:</label>
                {{ form.fecha_inscripcion_local }}
            </div>
        <div class="form-group ">
            <label for="{{ form.archivo.id_for_label }}">Archivo Adjunto:</label>
            {{ form.archivo }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'Detalle_inmueble' task_id=documento.task_id %}" class="btn btn-secondary">Volver al Detalle de la Tarea</a>
        </div>
    </form>
</div>

  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function() {
      // Función para mostrar u ocultar campos según la selección de Inscripción RPPF
      function showHideFields(selectedValue) {
        if (selectedValue === 'Si') {
          $("#folio_real_federal, #fecha_inscripcion_federal").show();
        } else {
          $("#folio_real_federal, #fecha_inscripcion_federal").hide();
        }
      }
    
      // Función para mostrar u ocultar campos según la selección de Inscripción Registro Local
      function showHideLocalFields(selectedValue) {
        if (selectedValue === 'Si') {
          $("#folio_real_local, #folio_real_auxiliar, #nombre_libro, #tomo_o_volumen, #numero, #foja_o_folio, #seccion, #fecha_inscripcion_local").show();
        } else {
          $("#folio_real_local, #folio_real_auxiliar, #nombre_libro, #tomo_o_volumen, #numero, #foja_o_folio, #seccion, #fecha_inscripcion_local").hide();
        }
      }
    
      // Obtener el valor actual de Inscripción RPPF y mostrar campos correspondientes
      var inscripcion_rppf = $('#{{ form.inscripcion_rppf.auto_id }}').val();
      showHideFields(inscripcion_rppf);
    
      // Obtener el valor actual de Inscripción Registro Local y mostrar campos correspondientes
      var inscripcion_registro_local = $('#{{ form.inscripcion_registro_local.auto_id }}').val();
      showHideLocalFields(inscripcion_registro_local);
    
      // Mostrar u ocultar campos cuando cambia la selección de Inscripción RPPF
      $('#{{ form.inscripcion_rppf.auto_id }}').change(function() {
        var selectedValue = $(this).val();
        showHideFields(selectedValue);
      });
    
      // Mostrar u ocultar campos cuando cambia la selección de Inscripción Registro Local
      $('#{{ form.inscripcion_registro_local.auto_id }}').change(function() {
        var selectedValue = $(this).val();
        showHideLocalFields(selectedValue);
      });
    
      // Disparar el evento 'change' para aplicar las funciones inicialmente
      $('#{{ form.inscripcion_rppf.auto_id }}').trigger('change');
      $('#{{ form.inscripcion_registro_local.auto_id }}').trigger('change');
    });
    </script>
{% endblock %}