{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="mt-4">Editar Avalúo</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          <a href="{% url 'task_detail_importados' task_id=avaluo.task_id %}" class="btn btn-secondary">Volver al Detalle de la Tarea</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
