{% extends 'baseSalas.html' %}
{% block titulo %} Calendario de Actividades {% endblock %}

{% block content %}


<div class="options">
    <label for="selectSala">Filtrar por Sala:</label>
    <select id="selectSala">
            <option value="">Todas las Salas</option>
            <option value="AUDITORIO CENTRO SEP">AUDITORIO CENTRO SEP</option>
            <option value="ESTUDIO DE GRABACIÓN">ESTUDIO DE GRABACIÓN</option>
            <option value="BODEGA DGTIC-DGRMyS">BODEGA DGTIC-DGRMyS</option>
            <option value="ÁREA ACTIVIDAD FISICA">ÁREA ACTIVIDAD FISICA</option>
            <option value="CAPACITACIÓN 1">CAPACITACIÓN 1</option>
            <option value="CAPACITACIÓN 2">CAPACITACIÓN 2</option>
            <option value="CAPACITACIÓN (ESPEJOS)">CAPACITACIÓN (ESPEJOS)</option>
            <option value="COMPUTO 1">COMPUTO 1</option>
            <option value="COMPUTO 2">COMPUTO 2</option>
            <option value="COMPUTO 3">COMPUTO 3</option>
            <option value="SALA MEXICO">SALA MEXICO</option>
            <option value="ANEXO SALA MEXICO">ANEXO SALA MEXICO</option>
            <option value="ACCESO MAYORASGO">ACCESO MAYORASGO</option>
            <option value="ACCESO UNIVERSIDAD 1200 LADO NORTE">ACCESO UNIVERSIDAD 1200 LADO NORTE</option>
            <option value="ALA SUR">ALA SUR</option>
            <option value="JAIME TORRES BODET">JAIME TORRES BODET</option>
            <option value="NARCISO BASSOLS">NARCISO BASSOLS</option>
            <option value="GREGORIO TORRES QUINTERO">GREGORIO TORRES QUINTERO</option>
            <option value="ROSARIO CASTELLANOS">ROSARIO CASTELLANOS</option>
            <option value="ANTONIO CASO">ANTONIO CASO</option>
            <option value="JÓSE VASCONCELOS">JÓSE VASCONCELOS</option>
            <option value="SOR JUANA INES DE LA CRUZ">SOR JUANA INES DE LA CRUZ</option>
            <option value="JUAN JOSE ARREOLA">JUAN JOSE ARREOLA</option>
            <option value="FRIDA KHALO">FRIDA KHALO</option>
            <option value="JUSTO SIERRA">JUSTO SIERRA</option>
            <option value="SALA SIN NOMBRE 12">SALA SIN NOMBRE 12</option>
            <option value="SALA SIN NOMBRE 13">SALA SIN NOMBRE 13</option>
            <option value="AUDITORES S15">AUDITORES S15</option>
            <option value="AUDITORES S16">AUDITORES S16</option>
            <option value="SALA SIN NOMBRE 17">SALA SIN NOMBRE 17</option>
            <option value="SALA SIN NOMBRE 18">SALA SIN NOMBRE 18</option>
            <option value="SALA SIN NOMBRE 19">SALA SIN NOMBRE 19</option>
            <option value="SALA SIN NOMBRE 20">SALA SIN NOMBRE 20</option>
            <option value="EJCUTIVA A">EJCUTIVA A</option>
            <option value="EJCUTIVA B">EJCUTIVA B</option>
            <option value="EJCUTIVA C">EJCUTIVA C</option>
            <option value="EJCUTIVA D">EJCUTIVA D</option>
            <option value="INTERNA">INTERNA</option>
            <option value="SALA SIN NOMBRE">SALA SIN NOMBRE</option>
            <option value="AUDITORIO REVOLUCIÓN 1425">AUDITORIO REVOLUCIÓN 1425</option>
            <option value="SALA DGP REVOLUCIÓN 1425">SALA DGP REVOLUCIÓN 1425</option>
            <option value="MEZZANNINE REVOLUCIÓN 1425">MEZZANNINE REVOLUCIÓN 1425</option>
            <option value="SALA VIADUCTO 551">SALA VIADUCTO 551</option>
            <option value="RABOSO (PUEBLA) 1">RABOSO (PUEBLA) 1</option>
            <option value="RABOSO (PUEBLA) 2">RABOSO (PUEBLA) 2</option>
            <option value="RABOSO (PUEBLA) 3">RABOSO (PUEBLA) 3</option>
            <option value="RABOSO (PUEBLA) 4">RABOSO (PUEBLA) 4</option>
            <option value="RABOSO (PUEBLA) 5">RABOSO (PUEBLA) 5</option>
        </select>
</div>

<div class="col-md-12 animated fadeIn">
    <div style="padding: 80px;" id='calendar'></div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
<!-- Incluye el archivo de idioma español -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/es.js"></script>


<div id="calendar"></div>



<!-- Modal para agregar eventos -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <input type="hidden" id="dia" name="dia"> <!-- Campo oculto para la fecha de inicio -->
                    <div class="form-group form-check-inline ">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="hora_inicio">Hora de inicio:</label>
                        <input type="time" class="form-control" id="hora_inicio" name="hora_inicio" required>
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="hora_finalizacion">Hora de finalización:</label>
                        <input type="time" class="form-control" id="hora_finalizacion" name="hora_finalizacion"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="Nom_sala">Nombre Sala:</label>
                        <select id="Nom_sala" name="Nom_sala" class="form-control" required></select>
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="capacidad">Capacidad:</label>
                        <input type="number" class="form-control" id="capacidad" disabled name="capacidad">
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="nivel">Nivel:</label>
                        <input type="text" class="form-control" id="nivel" disabled name="nivel">
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="sala">Sala:</label>
                        <input type="text" class="form-control" id="sala" disabled name="sala">
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="coordina">Coordina:</label>
                        <input type="text" class="form-control" id="coordina" required name="coordina">
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="preside">Preside:</label>
                        <input type="text" class="form-control" id="preside" required name="preside">
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="cargo">Cargo:</label>
                        <input type="text" class="form-control" id="cargo" required name="cargo">
                    </div>

                    <div class="form-group form-check-inline">
                        <label for="no_personas">Número de Asistentes:</label>
                        <input type="number" class="form-control" id="no_personas" required name="no_personas">
                    </div>

                    <div class="form-group form-check-inline">
                        <label for="contacto">Contacto:</label>
                        <input type="text" class="form-control" id="contacto" required name="contacto">
                    </div>

                    <div class="form-group form-check-inline">
                        <label for="servicios">Servicios:</label>
                        <input type="text" class="form-control" id="servicios" required name="servicios">
                    </div>

                    <div class="form-group form-check-inline">
                        <label for="observaciones">Observaciones:</label>
                        <input type="text" class="form-control" id="observaciones" required name="observaciones">
                    </div>
                    <div class="form-group form-check-inline">
                        <label for="prioridad">Prioridad:</label>
                        <select class="form-control" id="prioridad" required name="prioridad" required>
                            <option value="Alta">Alta</option>
                            <option value="Media">Media</option>
                            <option value="Baja">Baja</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Agregar Evento</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para mostrar los detalles del evento -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Detalles del Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="eventDetails">
                    <p><strong>Título:</strong> <span id="eventTitle"></span></p>
                    <p><strong>Inicio:</strong> <span id="eventInicio"></span></p>
                    <p><strong>Fin:</strong> <span id="eventFin"></span></p>
                    <p><strong>Nombre de la Sala:</strong> <span id="eventNom_Sala"></span></p>
                    <p><strong>Capacidad:</strong> <span id="eventCapacidad"></span></p>
                    <p><strong>Nivel:</strong> <span id="eventNivel"></span></p>
                    <p><strong>Sala:</strong> <span id="eventSala"></span></p>
                    <p><strong>Prioridad:</strong> <span id="eventPriority"></span></p>
                    <p><strong>Coordina:</strong> <span id="eventCoordina"></span></p>
                    <p><strong>Preside:</strong> <span id="eventPreside"></span></p>
                    <p><strong>Cargo:</strong> <span id="eventCargo"></span></p>
                    <p><strong>No. de Personas:</strong> <span id="eventNoPersonas"></span></p>
                    <p><strong>Contacto:</strong> <span id="eventContacto"></span></p>
                    <p><strong>Servicios:</strong> <span id="eventServicios"></span></p>
                    <p><strong>Observaciones:</strong> <span id="eventObservaciones"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('#no_personas').on('input', function () {
            var capacidad = parseInt($('#capacidad').val());  // Obtener valor de capacidad
            var noPersonas = parseInt($(this).val());  // Obtener valor de Número de Personas

            // Validar si el número de personas excede la capacidad
            if (noPersonas > capacidad) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'El número de personas no puede ser mayor que la capacidad.',
                    confirmButtonText: 'OK'
                }).then(() => {
                    $(this).val('');  // Limpiar el campo si no es válido
                });
            }
        });
    });



    function loadSalasDeJuntas() {
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/5/Salas_de_Juntas.json', function (data) {
            var selectSalas = $('#Nom_sala');

            selectSalas.empty(); // Limpiar opciones anteriores

            $.each(data, function (index, sala) {
                // Agregar cada sala como opción en el select
                // Usar sala.Nom_sala tanto para el texto visible como para el valor
                selectSalas.append($('<option>').text(sala.Nom_sala).attr('value', sala.Nom_sala));
            });

            // Configurar el evento change para actualizar los campos de capacidad, nivel y sala
            selectSalas.change(function () {
                var selectedValue = $(this).val(); // Obtener el valor seleccionado
                // Encontrar la sala seleccionada
                var selectedSala = data.find(function (item) {
                    return item.Nom_sala === selectedValue; // Usar selectedValue en lugar de this
                });

                if (selectedSala) {
                    $('#capacidad').val(selectedSala.capacidad);
                    $('#nivel').val(selectedSala.nivel);
                    $('#sala').val(selectedSala.sala || '');  // Mostrar sala si existe, sino, dejar vacío
                } else {
                    // Si no se encuentra la sala, limpiar los campos
                    $('#capacidad').val('');
                    $('#nivel').val('');
                    $('#sala').val('');
                }
            });

            // Seleccionar la primera sala por defecto y rellenar los campos
            selectSalas.trigger('change');
        });
    }

    $(document).ready(function () {
        loadSalasDeJuntas();
    });


</script>

<script>
    $(document).ready(function () {
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month',
            },
            locale: 'es',
            events: function (start, end, timezone, callback) {
                var selectedSala = $('#selectSala').val();
                $.ajax({
                    url: '/all_events_MDSJ',
                    dataType: 'json',
                    data: {
                        start: start.format(),
                        end: end.format(),
                        sala: selectedSala // Pasa la sala seleccionada al servidor para filtrar los eventos
                    },
                    success: function (response) {
                        callback(response);
                    }
                });
            },
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true,
            dayClick: function (date, jsEvent, view) {
                var currentDate = moment().startOf('day');
                var selectedDate = moment(date);
                if (selectedDate.isBefore(currentDate, 'day')) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'No puedes crear eventos en días pasados.'
                    });
                    return;
                }
                $('#eventForm').find('#dia').val(date.format());
                $('#myModal').modal('show');
            },
            eventRender: function (event, element) {
                var cssClass = getPrioridadClass(event.prioridad);
                element.addClass('event-container');
                element.find('.fc-title').append("<br/>" + event.Nom_sala);
                element.find('.fc-title').append("<br/>" + event.coordina);
                var circle = $('<span>').addClass('event-circle ' + cssClass);
                element.find('.fc-content').prepend(circle);
            },
            eventClick: function (event) {
                console.log(event);  // Esto te mostrará todo el objeto event en la consola

                $('#eventModal #eventTitle').text(event.title);
                $('#eventModal #eventInicio').text(event.start.format('h:mm A'));
                $('#eventModal #eventFin').text(event.end.format('h:mm A'));

                $('#eventModal #eventNom_Sala').text(event.Nom_sala);  // Nombre de la sala
                $('#eventModal #eventCapacidad').text(event.capacidad); // Capacidad de la sala
                $('#eventModal #eventNivel').text(event.nivel);         // Nivel de la sala
                $('#eventModal #eventSala').text(event.sala);           // Número de la sala


                $('#eventModal #eventPriority').text(event.prioridad);
                $('#eventModal #eventCoordina').text(event.coordina);
                $('#eventModal #eventPreside').text(event.preside);
                $('#eventModal #eventCargo').text(event.cargo);
                $('#eventModal #eventNoPersonas').text(event.no_personas);
                $('#eventModal #eventContacto').text(event.contacto);
                $('#eventModal #eventServicios').text(event.servicios);
                $('#eventModal #eventObservaciones').text(event.observaciones);
                $('#eventModal #deleteEventBtn').data('event-id', event.id);
                $('#eventModal').modal('show');
            },
            eventDrop: function (event) {
                var dia = event.start.format("YYYY-MM-DD");
                var title = event.title;
                var id = event.id;
                $.ajax({
                    type: "GET",
                    url: '/update_MDSJ',
                    data: { 'title': title, 'dia': dia, 'id': id },
                    dataType: "json",
                    success: function (data) {
                        calendar.fullCalendar('refetchEvents');
                        Swal.fire({
                            icon: 'success',
                            title: 'Evento Actualizado con éxito',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    },
                    error: function (data) {
                        alert('Tenemos un Problema, favor de recargar el sitio de nuevo ;)!!!');
                    }
                });
            }
        });

        $('#selectSala').change(function () {
            // Al cambiar el select, forzamos al calendario a recargar los eventos
            calendar.fullCalendar('refetchEvents');
        });

        $('#eventForm').submit(function (event) {
            event.preventDefault();
            var formData = {
                'title': $('#title').val(),
                'dia': $('#dia').val(),
                'hora_inicio': $('#hora_inicio').val(),
                'hora_finalizacion': $('#hora_finalizacion').val(),
                'Nom_sala': $('#Nom_sala').val(),
                'capacidad': $('#capacidad').val(),
                'nivel': $('#nivel').val(),
                'sala': $('#sala').val(),
                'prioridad': $('#prioridad').val(),
                'coordina': $('#coordina').val(),
                'preside': $('#preside').val(),
                'cargo': $('#cargo').val(),
                'no_personas': $('#no_personas').val(),
                'contacto': $('#contacto').val(),
                'servicios': $('#servicios').val(),
                'observaciones': $('#observaciones').val()
            };

            var startMoment = moment(formData.hora_inicio, 'HH:mm');
            var endMoment = moment(formData.hora_finalizacion, 'HH:mm');

            if (endMoment.isBefore(startMoment)) {
                Swal.fire({
                    text: 'La hora de finalización debe ser mayor que la hora de inicio.'
                });
                return;
            }

            if (endMoment.diff(startMoment, 'minutes') < 15) {
                Swal.fire({
                    text: 'La diferencia entre la hora de inicio y la hora de finalización debe ser de al menos 15 minutos.'
                });
                return;
            }

            $.ajax({
                type: "GET",
                url: '/add_event_MDSJ',
                data: formData,
                dataType: "json",
                success: function (data) {
                    calendar.fullCalendar('refetchEvents');
                    Swal.fire({
                        icon: 'success',
                        title: 'Evento añadido con éxito',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        location.reload();
                    });
                },
                error: function (data) {
                    alert('Tenemos un Problema, favor de recargar el sitio de nuevo ;)!!!');
                }
            });
        });

        function getPrioridadClass(prioridad) {
            switch (prioridad) {
                case 'Alta':
                    return 'event-alta';
                case 'Media':
                    return 'event-media';
                case 'Baja':
                    return 'event-baja';
                default:
                    return 'event-alta';
            }
        }
    });


</script>

<style>
    .fc-unthemed th,
    .fc-unthemed td,
    .fc-unthemed thead,
    .fc-unthemed tbody,
    .fc-unthemed .fc-divider,
    .fc-unthemed .fc-row,
    .fc-unthemed .fc-content,
    .fc-unthemed .fc-popover,
    .fc-unthemed .fc-list-view,
    .fc-unthemed .fc-list-heading td .dark-mode {
        background-color: #0000;
    }

    .dark-mode select,
    .dark-mode textarea,
    .dark-mode table,
    .dark-mode .modal-body {
        background-color: #212529;
        border: none;
        color: #fff;
        /* Color de texto claro */
    }

    .dark-mode input {
        background-color: #0000;
    }

    .dark-mode .modal-header {
        background-color: #212529;
    }

    .modal-content {
        top: 10em;
        background-color: #fff;
    }

    .modal-content.dark-mode {
        top: 10em;
        background-color: #0000 !important;
    }

    .modal-content {
        background-color: #fff;
    }

    .modal-body {
        background-color: #fff;
    }

    div .modal-body .dark-mode {
        background-color: #0000 !important;
    }

    .options {
        width: 90%;
        margin-left: 1em;
    }

    #selectSala {
        margin: 10px;
        width: 30%;
        padding: 2px;
        border-radius: 10px;
    }

    @media screen and (max-width: 768px) {
        #selectSala {
            width: 50%;
        }
    }


    @media (max-width: 436px) {

        #calendar {
            padding: 5px !important;
            position: relative !important;
            top: 7em;
        }

    }

    :root {
        --fc-small-font-size: .85em;
        --fc-page-bg-color: #fff;
        --fc-neutral-bg-color: hsla(0, 0%, 82%, .3);
        --fc-neutral-text-color: grey;
        --fc-border-color: #ddd;
        --fc-button-text-color: #fff;
        --fc-button-bg-color: #2c3e50;
        --fc-button-border-color: #2c3e50;
        --fc-button-hover-bg-color: #1e2b37;
        --fc-button-hover-border-color: #1a252f;
        --fc-button-active-bg-color: #1a252f;
        --fc-button-active-border-color: #151e27;
        --fc-event-bg-color: #3788d8;
        --fc-event-border-color: #3788d8;
        --fc-event-text-color: #fff;
        --fc-event-selected-overlay-color: rgba(0, 0, 0, .25);
        --fc-more-link-bg-color: #d0d0d0;
        --fc-more-link-text-color: inherit;
        --fc-event-resizer-thickness: 8px;
        --fc-event-resizer-dot-total-width: 8px;
        --fc-event-resizer-dot-border-width: 1px;
        --fc-non-business-color: hsla(0, 0%, 84%, .3);
        --fc-bg-event-color: #8fdf82;
        --fc-bg-event-opacity: 0.3;
        --fc-highlight-color: rgba(188, 232, 241, .3);
        --fc-today-bg-color: rgba(255, 220, 40, .15);
        --fc-now-indicator-color: red;
    }

    /* Agrega algunos estilos para mejorar la legibilidad de las horas */
    .fc-time {
        font-size: 12px;
        display: none;
    }

    .fc-ltr .fc-popover .fc-header .fc-title,
    .fc-rtl .fc-popover .fc-header .fc-close {
        float: none !important;
        font-size: 12px;

    }

    .fc-title {
        white-space: nowrap !important;
        /* Evita que el texto se ajuste automáticamente */
        overflow: hidden !important;
        /* Oculta el contenido que se desborda del contenedor */
        text-overflow: ellipsis !important;
        /* Agrega puntos suspensivos al final del texto recortado */
        width: 10px !important;
        /* Define el ancho máximo del contenedor para ajustar la cantidad de texto mostrado */
        font-weight: 700 !important;
    }

    .fc-title {
        font-weight: bold;
    }

    .fc-axis {
        font-size: 14px;
    }

    .fc-widget-header {
        font-size: 16px;
    }

    .fc-day-number {
        font-size: 16px;
    }

    .event-container {
        position: relative;
        /* Necesario para posicionar correctamente el círculo */
    }


    /* Estilos para el círculo de prioridad */
    .event-circle {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;

    }


    .event-alta {
        background-color: red;
        box-shadow: 0px 1px 20px 3px rgba(184, 33, 33, 0.651);
    }

    .event-media {
        background-color: rgb(233, 233, 49);
        box-shadow: 0px 1px 20px 3px rgba(236, 217, 45, 0.651);
    }

    .event-baja {
        background-color: rgb(42, 175, 42);
        box-shadow: 0px 1px 20px 3px rgba(68, 173, 35, 0.651);
    }

    /* Personaliza el color del fondo del evento seleccionado */
    .fc-highlight {
        background-color: rgba(188, 232, 241, 0.3);
    }

    /* Personaliza el color del día de hoy */
    .fc-today {
        background-color: rgba(255, 220, 40, 0.15);
    }

    /* Personaliza el color del indicador de ahora */
    .fc-now-indicator {
        background-color: red;
    }


    .fc-event {
        background-color: #151e27 !important;
    }


    /* Personaliza los estilos del botón del calendario al pasar el ratón sobre él */
    .fc-button:hover {
        background-color: #1e2b37;
        border-color: #1a252f;
    }

    /* Personaliza los estilos del botón del calendario al hacer clic en él */
    .fc-button:active {
        background-color: #1a252f;
        border-color: #151e27;
    }


    /* Personaliza los estilos del enlace "más" */
    .fc-more {
        background-color: #d0d0d0;
        color: inherit;
        font-size: 14px;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Ancho completo */
        max-width: 500px;
        /* Ancho máximo */
        color: var(--bs-modal-color);
        pointer-events: auto;
        background-color: var(--bs-modal-bg);
        background-clip: padding-box;
        border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
        border-radius: var(--bs-modal-border-radius);
        outline: 0;
    }





    @media screen and (max-width: 768px) {
        .modal-content {
            top: 11em;
        }
    }

    @media screen and (max-width: 468px) {
        .modal-content {
            top: 10em;
        }
    }

    @media screen and (max-width: 388px) {
        .modal-content {
            top: 19em;
        }
    }
</style>
{% endblock %}