<div class="tab-content" id="tab-mensajes">
  <div class="section">

    <div class="container">
      <h2>Tareas Pendientes</h2>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Tarea para:</th>
                  <th>Asunto</th>
                  <th>Mensaje</th>
                  <th>Fecha de Envío</th>
                  <th>Estatus de la tarea</th>
              </tr>
          </thead>
          <tbody>
              {% for mensaje in task.mensaje_set.all %}
              <tr>
                  <td>{{ mensaje.enviar_a }}</td>
                  <td>{{ mensaje.asunto }}</td>
                  <td>{{ mensaje.mensaje }}</td>
                  <td>{{ mensaje.fecha_envio }}</td>
                  <td>
                    {{mensaje.estado}}
                    {% if mensaje.estado == 'completado' %}
                        
                    {% else %}
                        <button class="btn btn-outline-success btn-sm" id="completar_{{ mensaje.id }}" onclick="completarMensaje(`{{ mensaje.id }}`)">Completar</button>
                    {% endif %}
                </td>
                  
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ mensaje_form.asunto.id_for_label }}">Asunto:</label>
        {{ mensaje_form.asunto }}
    </div>
    <div class="form-group">
        <label for="{{ mensaje_form.mensaje.id_for_label }}">Mensaje:</label>
        {{ mensaje_form.mensaje }}
    </div>
    <div class="form-group form-check-inline ">
        <label for="{{ mensaje_form.enviar_a.id_for_label }}">Enviar A:</label>
        {{ mensaje_form.enviar_a }}
    </div>
    <div class="form-group form-check-inline ">
        <label for="{{ mensaje_form.estado.id_for_label }}">Estatus:</label>
        {{ mensaje_form.estado }} 
    </div>

    <button class="btn btn-outline-success" type="submit">Enviar mensaje</button>
</form>
  </div>
</div>

<script>
    function completarMensaje(mensajeId) {
        // Envía una solicitud AJAX al servidor para marcar el mensaje como "Completado".
        // Ajusta la URL y otros detalles de la solicitud según tus necesidades.

        // Ejemplo de solicitud Fetch API:
        fetch(`/completar_mensaje/${mensajeId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ estado: 'completado' })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Actualiza el estado del mensaje en la interfaz gráfica
                const botonCompletar = document.getElementById(`completar_${mensajeId}`);
                botonCompletar.textContent = 'Completado';
            } else {
                console.error('Error al marcar el mensaje como completado.');
            }
        })
        .catch(error => {
            console.error('Error de red:', error);
        });
    }

    // Función para obtener el valor de la cookie CSRF
    function getCookie(name) {
        var value = '; ' + document.cookie;
        var parts = value.split('; ' + name + '=');
        if (parts.length == 2) return parts.pop().split(';').shift();
    }
</script>
