<div class="tab-content animated fadeIn" id="tab-aprovechamiento">
    <div class="section">

        <div class="form-group">
            <label for="{{ inmueble.aprovechamiento.id_for_label }}">Aprovechamiento</label>
            {{ inmueble.aprovechamiento }}
        </div>

        <div class="form-group form-check-inline" id="inmueble-publico-fields">
            <label for="{{ inmueble.inmueble_con_atencion_al_publico.id_for_label }}">Inmueble con Atención al
                Público</label>
            {{ inmueble.inmueble_con_atencion_al_publico }}
        </div>

        <div class="form-group form-check-inline" id="data-Publico">
            <label for="{{ inmueble.poblacion_beneficiada.id_for_label }}">Población Beneficiada:</label>
            {{ inmueble.poblacion_beneficiada }}
        </div>

        <div class="form-group form-check-inline" id="data-Publico">
            <label for="{{ inmueble.poblacion_servicio.id_for_label }}">Población a la que da Servicio:</label>
            {{ inmueble.poblacion_servicio }}
        </div>
        <br>
        <div class="form-group form-check-inline" id="gasto-mantenimiento-fields">
            <label for="{{ inmueble.gasto_anual_de_mantenimiento.id_for_label }}">Gasto Anual de Mantenimiento
                ($):</label>
            {{ inmueble.gasto_anual_de_mantenimiento }}
        </div>
        <br>
        <div class="form-group form-check-inline" id="inmueble-condominio-fields">
            <label for="{{ inmueble.inmueble_en_condominio.id_for_label }}">Inmueble en Condominio</label>
            {{ inmueble.inmueble_en_condominio }}
        </div>
        <div class="form-group form-check-inline" id="data-InCondominio">
            <label for="{{ inmueble.superficie_total.id_for_label }}">Superficie Total:</label>
            {{ inmueble.superficie_total }}
        </div>

        <div class="form-group form-check-inline" id="data-InCondominio">
            <label for="{{ inmueble.indiviso.id_for_label }}">Indiviso ($) :</label>
            {{ inmueble.indiviso }}
        </div>
        <br>
        <div class="form-group form-check-inline" id="cuenta-proyecto-fields">
            <label for="{{ inmueble.cuenta_con_proyecto_de_uso_inmediato_desarrollado.id_for_label }}">Cuenta con
                Proyecto de Uso Inmediato Desarrollado</label>
            {{ inmueble.cuenta_con_proyecto_de_uso_inmediato_desarrollado }}
        </div>

        <div class="form-group form-check-inline" id="data-ProyectoID">
            <label for="{{ inmueble.inversion_requerida.id_for_label }}">Inversión Requerida ($):</label>
            {{ inmueble.inversion_requerida }}
        </div>

        <div class="form-group form-check-inline" id="data-ProyectoID">
            <label for="{{ inmueble.fuente_financiamiento.id_for_label }}">Fuente de Financiamiento:</label>
            {{ inmueble.fuente_financiamiento }}
        </div>
        <br>
        <div class="form-group form-check-inline" id="data-ProyectoID">
            <label for="{{ inmueble.fecha_solicitud.id_for_label }}">Fecha de Solicitud:</label>
            {{ inmueble.fecha_solicitud }}
        </div>

        <div class="form-group" id="inmueble-no-aprovechable-fields">
            <label for="{{ inmueble.inmueble_no_aprovechable_especificar.id_for_label }}">Inmueble no
                Aprovechable/Especificar</label>
            {{ inmueble.inmueble_no_aprovechable_especificar }}
        </div>
    </div>
</div>