<div class="tab-content active" id="tab-encabezado">
  <div class="separador">
    <legend>Dictamen estructural</legend>
    <!-- Dictamen -->
    <div class="form-section ">
      <div class="table-responsive" id="tablaDocPropiedad">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>Certificado de Seguridad</th>
              <th>Sentido del Dictamen</th>
              <th>Descripción del Sentido del Dictamen</th>
              <th>Fecha de Documento</th>
              <th>Archivo Adjunto</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for dictamen_estructural in task.dictamen_estructural.all %}
            <tr>
              <td>{{ dictamen_estructural.no_de_identificador_del_expediente_institucion}}</td>
              <td>{{ dictamen_estructural.certificado_de_seguridad }}</td>
              <td>{{ dictamen_estructural.sentido_del_Dictamen }}</td>
              <td>{{ dictamen_estructural.descripcion_del_sentido_del_Dictamen }}</td>
              <td>{{ dictamen_estructural.fecha_documento }}</td>
              <td>
                {% if dictamen_estructural.subir_archivo_dictamen %}
                <a href="{{ dictamen_estructural.subir_archivo_dictamen.url }}" target="_blank" class="">Ver Archivo</a>
                {% else %}
                Sin archivo adjunto
                {% endif %}
              </td>
              <td>
                <a href="{% url 'eliminar_dictamenIMP' dictamen_estructural_id=dictamen_estructural.id %}"
                  class="btn btn-danger btn-sm eliminar-btn" data-tipo="dictamen_estructural"
                  data-id="{{ dictamen_estructural.id }}">Eliminar</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">No hay Dictamenes estructurales registrados.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


        <a class="btn btn-outline-success" href="#" id="agregardictamen">Agregar Nuevo Dictamen Estructural</a>
        <div class="modal fade" id="dictamenModal" tabindex="-1" role="dialog" aria-labelledby="dictamenLabel"
          aria-hidden="true" data-bs-centered="true">
          <div class="modal-dialog center animated fadeIn" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="dictamenLabel">Agregar Nuevo Dictamen Estructural</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div id="formulariodictamen"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <br><br>

  <div class="separador">
    <fieldset>
      <legend>Folios Reales Asignados</legend>
      <table class="table folios-reales-table">
        <thead>
          <tr>
            <th>Folios Reales</th>
            <th>Archivo Adjunto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for folio_real in task.folios_reales.all %}
          <tr>
            <td>{{ folio_real.folios_reales_data }}</td>
            <td>
              {% if folio_real.archivo_folios_reales %}
              <a href="{{ folio_real.archivo_folios_reales.url }}" target="_blank" class="">Ver Archivo</a>
              {% else %}
              Sin archivo adjunto
              {% endif %}
            </td>
            <td>
              <button class="delete-folio-real-btn btn btn-outline-danger"
                data-url="{% url 'delete_folio_realIMP' task_id=task.id folio_real_id=folio_real.id %}">Eliminar</button>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">No hay Folios reales registrados.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      <!-- Folio -->
      <a class="btn btn-outline-success" href="#" id="agregarFolioReal">Agregar Nuevo Folio Real</a>
      <div class="modal fade" id="folioRealModal" tabindex="-1" role="dialog" aria-labelledby="folioRealLabel"
        aria-hidden="true" data-bs-centered="true">
        <div class="modal-dialog center animated fadeIn" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="folioRealLabel">Agregar Nuevo Folio Real</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="formularioFolioReal"></div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>


  <br><br>
  <div class="separador">
    <fieldset>
      <legend>Proporcione los datos de los numeros de planos</legend>
      <table class="table expedientes-cedoc-table">
        <thead>
          <tr>
            <th>Numero Plano</th>
            <th>Archivo Adjunto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for numero_plano in task.numeros_planos.all %}
          <tr>
            <td>{{ numero_plano.numero_plano_data }}</td>
            <td>
              {% if numero_plano.archivo_Numero_Plano %}
              <a href="{{ numero_plano.archivo_Numero_Plano.url }}" target="_blank" class="">Ver Archivo</a>
              {% else %}
              Sin archivo adjunto
              {% endif %}
            </td>
            <td>
              <button class="delete-numero-plano-btn btn btn-outline-danger"
                data-url="{% url 'delete_numero_planoIMP' task_id=task.id numero_plano_id=numero_plano.id %}">Eliminar</button>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="2">No hay Numeros planos registrados.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      <!-- Numero Plano -->
      <a class="btn btn-outline-success" href="#" id="agregarNumeroPlano">Agregar número plano</a>
      <div class="modal fade" id="NumeroPlanoModal" tabindex="-1" role="dialog" aria-labelledby="NumeroPlanoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog center animated fadeIn" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="NumeroPlanoModalLabel">Agregar Número Plano</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Aquí puedes cargar tu formulario de Django mediante una solicitud AJAX -->
              <div id="formularioNumeroPlano"></div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>


  <br><br>
  <div class="separador">
    <fieldset>
      <legend>Expedientes CEDOC Asignados</legend>
      <table class="table expedientes-cedoc-table">
        <thead>
          <tr>
            <th>Expediente CEDOC</th>
            <th>Archivo Adjunto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for expediente_cedoc in task.expedientes_deoc.all %}
          <tr>
            <td>{{ expediente_cedoc.expediente_cedoc_data }}</td>
            <td>
              {% if expediente_cedoc.archivo_Expedientes_CEDOC %}
              <a href="{{ expediente_cedoc.archivo_Expedientes_CEDOC.url }}" target="_blank" class="">Ver Archivo</a>
              {% else %}
              Sin archivo adjunto
              {% endif %}
            </td>
            <td>
              <button class="delete-expediente-cedoc-btn btn btn-outline-danger"
                data-url="{% url 'delete_expediente_cedocIMP' task_id=task.id expediente_cedoc_id=expediente_cedoc.id %}">Eliminar</button>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">No hay expedientes CEDOC registrados.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>



      <!-- expediente -->
      <a class="btn btn-outline-success" href="#" id="agregarExpedienteCEDOC">Agregar expediente CEDOC</a>
      <div class="modal fade" id="expedienteModal" tabindex="-1" role="dialog" aria-labelledby="expedienteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog center animated fadeIn" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="expedienteModalLabel">Agregar Expediente CEDOC</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <div id="formularioExpedienteCEDOC"></div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

  </div>
  <br><br>
  <fieldset>
    <div class="form-group">
      <label for="{{ inmueble.no_de_identificador_del_expediente_institucion.id_for_label }}">No. Identificador del
        Expediente de la Institución:</label>
      {{ inmueble.no_de_identificador_del_expediente_institucion }}
  </fieldset>
</div>


<style>
  .modal-content {
    display: block;
    margin: auto;
    max-width: 1100%;
    max-height: 160%;
    
  }
</style>