<div class="tab-content animated fadeIn" id="tab-mensajes">
    <div class="section">
  
        <div class="container">
            <h2 id="toggle-tasks" style="cursor: pointer;">Tareas Pendientes {{ task.mensajes.all|length }} <i class="fas fa-chevron-down"></i></h2>
            <button style="display: grid; margin: 0 auto; position: relative; top: -5em; left: 38%;width: 23%; font-size: 12px;" type="button" class="btn btn-primary msjbtn" data-toggle="modal" data-target="#nuevoMensajeModal">
                Mensaje nuevo
            </button>
            <div class="row" id="tasks-container" style="display: none;">
                {% for mensaje in task.mensajes.all|dictsort:"estado" %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow mb-5 bg-body-tertiary rounded">
                        <div class="card-header" style="display: flex; background-color:#691c32; color:aliceblue ">
                            {{ mensaje.asunto }} 
                        </div>
                        <div class="card-body">
                            <p>Enviado por:  <span class="badge bg-primary"> {{ mensaje.enviado_por_imp }}</span> Para: <span class="badge bg-success"> {{ mensaje.enviar_a_imp }} </span> </p>
                            <p class="card-text"><strong>Mensaje: </strong><br>{{ mensaje.mensaje }}</p>
                            {% if mensaje.enlace %}
                            <a href="{{ mensaje.enlace }}" target="_blank">Ir a One Drive</a>
                            {% endif %}
                            <br><br><br>
        
                            <p style="font-size: 12px; text-align: right;"><strong>Recibido: </strong> {{ mensaje.fecha_envio|date:'D j/M/Y'  }}</p>
                        
                        </div>
                        <div style="background-color: #00000000;" class="card-footer">
        
                            
                            {% if mensaje.estado != 'completado' %}
                                <button class="btn btn-outline-success btn-sm" onclick="completarMensaje('{{ mensaje.id }}')">Completar</button>
                            {% endif %}
                            Estatus: {{ mensaje.estado }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>



        <!-- Modal de Mensaje nuevo -->
       <!-- Modal de Mensaje nuevo -->
       <div class="modal fade" id="nuevoMensajeModal" tabindex="-1" role="dialog" aria-labelledby="nuevoMensajeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevoMensajeModalLabel">Mensaje nuevo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Contenido del formulario de mensaje nuevo -->
                    <form id="form-container" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ mensaje_form.asunto.id_for_label }}">Asunto:</label>
                            {{ mensaje_form.asunto }}
                        </div>
                        <div class="form-group">
                            <label for="{{ mensaje_form.mensaje.id_for_label }}">Mensaje:</label>
                            {{ mensaje_form.mensaje }}
                        </div>
                        <div class="form-group form-check-inline">
                            <label for="{{ mensaje_form.enviar_a_imp.id_for_label }}">Enviar A:</label>
                            {{ mensaje_form.enviar_a_imp }}
                        </div>
                                <div class="form-group form-check-inline">
                                    <label for="{{ mensaje_form.estado.id_for_label }}">Estatus:</label>
                                    {{ mensaje_form.estado }}
                                </div>
                        <div class="form-group form-check-inline">
                            <label for="{{ mensaje_form.enlace.id_for_label }}">En caso de requerirse, agregue enlace a OneDrive:</label>
                            {{ mensaje_form.enlace }}
                        </div>
                        <button class="btn btn-outline-success" type="submit">Enviar mensaje</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- JavaScript para inicializar el modal -->
<script>
    $(document).ready(function() {
        $('#nuevoMensajeModal').on('hidden.bs.modal', function () {
            // Limpiar el formulario al cerrar el modal
            $('#form-container').trigger("reset");
        });
    });
</script>

<!-- Asegúrate de incluir las bibliotecas de Bootstrap y jQuery antes de este código -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <script>
    function completarMensaje(mensajeId) {
        // Envía una solicitud AJAX al servidor para marcar el mensaje como "Completado".
        // Ajusta la URL y otros detalles de la solicitud según tus necesidades.

        // Ejemplo de solicitud Fetch API:
        fetch(`/completar_mensajeIMP/${mensajeId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ estado: 'completado' })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Actualiza el estado del mensaje en la interfaz gráfica
                const botonCompletar = document.getElementById(`completar_${mensajeId}`);
                botonCompletar.textContent = 'Completado';
            } else {
                console.error('Error al marcar el mensaje como completado.');
            }
        })
        .catch(error => {
            console.error('Error de red:', error);
        });
    }

    // Función para obtener el valor de la cookie CSRF
    function getCookie(name) {
        var value = '; ' + document.cookie;
        var parts = value.split('; ' + name + '=');
        if (parts.length == 2) return parts.pop().split(';').shift();
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $("#toggle-tasks").click(function() {
            $("#tasks-container").slideToggle();
            if ($(this).find("i").hasClass("fa-chevron-down")) {
                $(this).find("i").removeClass("fa-chevron-down").addClass("fa-chevron-up");
            } else {
                $(this).find("i").removeClass("fa-chevron-up").addClass("fa-chevron-down");
            }
        });
    
        // Actualizar el contador al cargar la página
        updatePendingCount();
    
        function updatePendingCount() {
            var count = `{{ task.mensajes.all|length }}`;
            $("#pending-count").text("Tareas Pendientes: " + count);
        }
    });
    </script>

<style>
    @media (max-width: 560px) {
    .msjbtn{
        width: 45% !important;
        left: 30% !important;
    }
}
</style>

