
<div class="tab-content  fadeIn" id="tab-mensajes">
    <div class="section">

        <div class="container">
            <h2 id="toggle-tasks" style="cursor: pointer;">Tareas Pendientes {{ task.mensajes.all|length }} <i
                    class="fas fa-chevron-down"></i></h2>
            <button
                style="display: grid; margin: 0 auto; position: relative; top: -5em; left: 38%;width: 23%; font-size: 12px;"
                type="button" class="btn btn-primary msjbtn" data-toggle="modal" data-target="#nuevoMensajeModal">
                Crear tarea
            </button>
            <div class="row" id="tasks-container" style="display: none;">
                {% for mensaje in task.mensajes.all|dictsort:"estado" %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow mb-5 bg-body-tertiary rounded">
                        <div class="card-header" style="display: flex; background-color:#691c32; color:aliceblue ">
                            {{ mensaje.asunto }}
                        </div>
                        <div class="card-body">
                            <p>Enviado por: <span class="badge bg-primary"> {{ mensaje.enviado_por_imp }}</span> Para:
                                <span class="badge bg-success"> {{ mensaje.enviar_a_imp }} </span> </p>
                            <p class="card-text"><strong>Mensaje: </strong><br>{{ mensaje.mensaje }}</p>
                            {% if mensaje.enlace %}
                            <a href="{{ mensaje.enlace }}" target="_blank">Ir a One Drive</a>
                            {% endif %}
                            <br><br><br>

                            <p style="font-size: 12px; text-align: right;"><strong>Recibido: </strong> 
                            {{ mensaje.fecha_envio|date:'D j/M/Y' }}</p>

                        </div>
                        <div style="background-color: #00000000;" class="card-footer">


                            {% if mensaje.estado != 'completado' %}
                            <button class="btn btn-outline-success btn-sm"
                                onclick="completarMensaje('{{ mensaje.id }}')">Completar</button>
                            {% endif %}
                            Estatus: {{ mensaje.estado }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Modal de Mensaje nuevo -->
        <div class="modal fade mobilemodal" id="nuevoMensajeModal" tabindex="1" role="dialog"
            aria-labelledby="nuevoMensajeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="nuevoMensajeModalLabel">Mensaje nuevo</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del formulario de mensaje nuevo -->
                        <form id="form-container" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ mensaje_form.asunto.id_for_label }}">Asunto:</label>
                                {{ mensaje_form.asunto }}
                            </div>
                            <div class="form-group">
                                <label for="{{ mensaje_form.mensaje.id_for_label }}">Mensaje:</label>
                                {{ mensaje_form.mensaje }}
                            </div>
                            <div class="form-group form-check-inline">
                                <label for="{{ mensaje_form.enviar_a_imp.id_for_label }}">Enviar A:</label>
                                {{ mensaje_form.enviar_a_imp }}
                            </div>
                            <div class="form-group form-check-inline">
                                <label for="{{ mensaje_form.estado.id_for_label }}">Estatus:</label>
                                {{ mensaje_form.estado }}
                            </div>
                            <div class="form-group form-check-inline">
                                <label for="{{ mensaje_form.enlace.id_for_label }}">En caso de requerirse, agregue
                                    enlace a OneDrive:</label>
                                {{ mensaje_form.enlace }}
                            </div>
                            <button class="btn btn-outline-success" type="submit">Enviar mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


