<div class="tab-content animated fadeIn" id="tab-descripcion">
    <div class="section">
        <div class="form-group">
            <label for="{{ llamada.NombreInmueble.id_for_label }}">Nombre del Inmueble:</label>
            {{ llamada.NombreInmueble }}
        </div>

        <div class="form-group form-check-inline ">
            <label for="{{ llamada.UR.id_for_label }}">UR:</label>
            {{ llamada.UR }}
        </div>
    
        <div class="form-group form-check-inline width-label">
            <label for="{{ llamada.prioridad.id_for_label }}">Prioridad:</label>
            {{ llamada.prioridad }}
        </div><br>

        {% if request.user.is_superuser %}
        <div class="form-group form-check-inline">
            <label for="{{ llamada.assigned_task.id_for_label }}">Asignar a:</label>
            {{ llamada.assigned_task }}
        </div>
        <div class="form-group form-check-inline">
            <label for="{{ llamada.deadline.id_for_label }}">Fecha y hora límite:</label>
            <input type="text" id="deadline-picker-{{ task.id }}" name="deadline"
                value="{{ llamada.deadline|date:'Y-m-d H:i' }}">
        </div>


        {% else %}
        <p style="color: brown;">No tienes permisos para asignar tareas a otros usuarios.</p>
        {% endif %}

    </div>
</div>