<div class="tab-content" id="tab-observaciones">
  <div class="section">
    <div class="separador">
      <div class="form-group">
        <label for="{{ inmueble.creado.id_for_label }}">Fecha de Alta:</label>
        {{ inmueble.creado|date:'M j Y' }}
      </div>

      <div class="form-group form-check-inline">
        <label for="{{ task.causa_alta.id_for_label }}">Causa alta: {{ task.causa_alta }}</label>
      </div>
      <div class="form-group form-check-inline">
        <label for="{{ baja_form.causa_baja.id_for_label }}">Causa baja:</label>
        {{task.causa_baja}}
      </div>
    </div>
  </div>
</div>
