<!-- Encabezado -->


<script>
    document.addEventListener("DOMContentLoaded", function () {
      var dateInputs = document.querySelectorAll("[type='date']");
      
      dateInputs.forEach(function (input) {
          var dateValue = input.value;
          if (dateValue) {
              var date = new Date(dateValue);
              var formattedDate = date.toLocaleDateString('es-MX'); // Cambia 'es-MX' al código de tu idioma
              input.value = formattedDate;
          }
      });
  });
  </script>
  <script>
  
      // Dictamen Estructural
      $(document).ready(function() {
      $("#agregardictamen").click(function(e) {
        e.preventDefault();
  
        // Aquí puedes cargar el contenido del formulario desde tu servidor (puedes usar AJAX)
        // Ejemplo de carga del formulario:
        $("#formulariodictamen").load("{% url 'agregar_dictamen_estructural' task_id=task.id %}");
  
        // Abre el modal
        $("#dictamenModal").modal("show");
      });
    });
  
      // fOLIO rEAL
      $(document).ready(function() {
      $("#agregarFolioReal").click(function(e) {
        e.preventDefault();
  
        // Aquí puedes cargar el contenido del formulario desde tu servidor (puedes usar AJAX)
        // Ejemplo de carga del formulario:
        $("#formularioFolioReal").load("{% url 'agregar_folio_real' task_id=task.id %}");
  
        // Abre el modal
        $("#folioRealModal").modal("show");
      });
    });
  
    // Expediente CEDOCa
    $(document).ready(function() {
      $("#agregarExpedienteCEDOC").click(function(e) {
        e.preventDefault();
  
        // Aquí puedes cargar el contenido del formulario desde tu servidor (puedes usar AJAX)
        // Ejemplo de carga del formulario:
        $("#formularioExpedienteCEDOC").load("{% url 'agregar_expediente_CEDOC' task_id=task.id %}");
  
        // Abre el modal
        $("#expedienteModal").modal("show");
      });
    });
  
    $(document).ready(function() {
      $("#agregarNumeroPlano").click(function(e) {
        e.preventDefault();
  
        // Aquí puedes cargar el contenido del formulario desde tu servidor (puedes usar AJAX)
        // Ejemplo de carga del formulario:
        $("#formularioNumeroPlano").load("{% url 'agregar_no_plano' task_id=task.id %}");
  
        // Abre el modal
        $("#NumeroPlanoModal").modal("show");
      });
    });
  
    $(document).ready(function () {
    // Variable para rastrear si el modal está abierto
    var isModalOpen = false;
  
    // Detecta la apertura y cierre del modal
    $('#expedienteModal').on('show.bs.modal', function () {
      isModalOpen = true;
    });
  
    $('#expedienteModal').on('hidden.bs.modal', function () {
      isModalOpen = false;
    });
  
    // Desactiva la tecla Enter mientras el modal esté abierto
    $(document).on('keydown', function (e) {
      if (isModalOpen && e.key === 'Enter') {
        e.preventDefault();
      }
    });
  });
  
  </script>


<!-- Datos Generales -->

<script>
    function loadSeccionesInventario() {
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/1/inventario/.json', function (data) {
            var secciones = [...new Set(data.map(item => item.seccion_inventario))];
            var selectSecciones = $('#{{ inmueble.seccion_del_inventario.auto_id }}');

            selectSecciones.empty(); // Limpiar opciones anteriores
            $.each(secciones, function (index, value) {
                var selected = value === '{{ inmueble.instance.seccion_del_inventario }}' ? 'selected' : '';
                selectSecciones.append($('<option>').text(value).attr('value', value).prop('selected', selected));
            });
            loadDependenciasAdministradoras();
        });
    }

    function loadDependenciasAdministradoras() {
        var seccionInventario = $('#{{ inmueble.seccion_del_inventario.auto_id }}').val();
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/1/inventario/.json', function (data) {
            var dependencias = [...new Set(data.filter(item => item.seccion_inventario === seccionInventario)
                .map(item => item.dependencia_administradora))];
            var selectDependencias = $('#{{ inmueble.Dependencia_Administradora.auto_id }}');
            selectDependencias.empty(); // Limpiar opciones anteriores
            $.each(dependencias, function (index, value) {
                var selected = value === '{{ inmueble.instance.Dependencia_Administradora }}' ? 'selected' : '';
                selectDependencias.append($('<option>').text(value).attr('value', value).prop('selected', selected));
            });
            loadSubsecciones();
        });
    }

    function loadSubsecciones() {
        var seccionInventario = $('#{{ inmueble.seccion_del_inventario.auto_id }}').val();
        var dependenciaAdministradora = $('#{{ inmueble.Dependencia_Administradora.auto_id }}').val();
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/1/inventario/.json', function (data) {
            var subsecciones = [...new Set(data.filter(item => item.seccion_inventario === seccionInventario && item.dependencia_administradora === dependenciaAdministradora)
                .map(item => item.subSeccion))];
            var selectSubsecciones = $('#{{ inmueble.subSeccion.auto_id }}');
            selectSubsecciones.empty(); // Limpiar opciones anteriores
            $.each(subsecciones, function (index, value) {
                var selected = value === '{{ inmueble.instance.subSeccion }}' ? 'selected' : '';
                selectSubsecciones.append($('<option>').text(value).attr('value', value).prop('selected', selected));
            });
        });
    }

    $(document).ready(function () {
        loadSeccionesInventario();

        $('#{{ inmueble.seccion_del_inventario.auto_id }}').change(function () {
            loadDependenciasAdministradoras();
        });

        $('#{{ inmueble.Dependencia_Administradora.auto_id }}').change(function () {
            loadSubsecciones();
        });
    });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<!-- Ubicacion -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Función para cargar las entidades federativas en el campo select
  function loadEntidadesFederativas() {
    $.getJSON("/get_entidades_federativas/", function (data) {
      var selectEntidades = $("#{{ inmueble.entidad_federativa.auto_id }}");
      selectEntidades.empty();
      $.each(data.entidades_federativas, function (index, value) {
        // Verificar si el valor de entidad_federativa coincide con el valor actual del campo
        var selected =
          value === "{{ inmueble.instance.entidad_federativa }}" ? "selected" : "";
        selectEntidades.append(
          $("<option>")
            .text(value)
            .attr("value", value)
            .prop("selected", selected)
        );
      });
      loadMunicipios(selectEntidades.val()); // Cargamos los municipios correspondientes a la entidad seleccionada
    });
  }

  // Función para cargar los municipios en el campo select
  function loadMunicipios(entidadFederativa) {
    $.getJSON("/get_municipios/" + entidadFederativa + "/", function (data) {
      var selectMunicipios = $("#{{ inmueble.municipio_alcaldia.auto_id }}");
      selectMunicipios.empty();
      $.each(data.municipios, function (index, value) {
        // Verificar si el valor de municipio_alcaldia coincide con el valor actual del campo
        var selected =
          value === "{{ inmueble.instance.municipio_alcaldia }}" ? "selected" : "";
        selectMunicipios.append(
          $("<option>")
            .text(value)
            .attr("value", value)
            .prop("selected", selected)
        );
      });
    });
  }

  // Función para cargar los datos al cargar la página
  $(document).ready(function () {
    loadEntidadesFederativas(); // Cargamos las entidades federativas
    $("#{{ inmueble.entidad_federativa.auto_id }}").change(function () {
      loadMunicipios($(this).val()); // Cargamos los municipios al cambiar la entidad federativa seleccionada
    });
  });
</script>


<!-- caracteristicas -->

<script>
    $(document).ready(function() {
       // Almacena el elemento jQuery directamente, no su ID
       var usoEdificacionSelect = $('#id_usoEdificacion');
       var calidadEdificacionSelect = $('#id_calidadEdificacion');
   
       // Llama a las funciones de carga con el elemento jQuery directo
       loadUsoPorEdificacion(usoEdificacionSelect, calidadEdificacionSelect);
   
       function loadUsoPorEdificacion(selectUsoPorEdificacion, selectCalidadDeLaEdificacion) {
           $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/0/uso/.json', function(data) {
               var uso_por_edificacion = [...new Set(data.map(item => item.uso_por_edificacion))];
   
               selectUsoPorEdificacion.empty(); // Limpiar opciones anteriores
               $.each(uso_por_edificacion, function(index, value){
                   var option = $('<option>').text(value).attr('value', value);
                   selectUsoPorEdificacion.append(option);
   
                   // Verifica si el valor coincide con el valor predeterminado
                   if (value === selectUsoPorEdificacion.data('default-value')) {
                       option.prop('selected', true);
                   }
               });
   
               // Al cargar los datos de "Uso por Edificación", también cargamos los datos de "Calidad de la Edificación" inicialmente.
               loadCalidadDeLaEdificacion(selectUsoPorEdificacion, selectCalidadDeLaEdificacion);
           });
   
           // Manejar el evento change del select de uso por edificación
           selectUsoPorEdificacion.on('change', function() {
               loadCalidadDeLaEdificacion(selectUsoPorEdificacion, selectCalidadDeLaEdificacion);
           });
       }
   
       function loadCalidadDeLaEdificacion(selectUsoPorEdificacion, selectCalidadDeLaEdificacion) {
           // Obtén el valor seleccionado de "Uso por Edificación"
           var selectedUsoPorEdificacion = selectUsoPorEdificacion.val();
   
           // Realiza una petición para cargar los datos de "Calidad de la Edificación" en función de la selección de "Uso por Edificación".
           $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/0/uso/.json', function(data) {
               var calidad = [...new Set(data.filter(item => item.uso_por_edificacion === selectedUsoPorEdificacion)
                                   .map(item => item.calidad_edificacion))];
   
               selectCalidadDeLaEdificacion.empty(); // Limpiar opciones anteriores
               $.each(calidad, function(index, value) {
                   var option = $('<option>').text(value).attr('value', value);
                   selectCalidadDeLaEdificacion.append(option);
   
                   // Verifica si el valor coincide con el valor predeterminado
                   if (value === selectCalidadDeLaEdificacion.data('default-value')) {
                       option.prop('selected', true);
                   }
               });
           });
       }
   });
   
       </script>

<script>
    $(document).ready(function() {
        // Ocultar campos por defecto
        $("#tipo_inmueble_rural, #uso_dominante_zona, #clasificacion_por_edad, #categoria, #grado_consolidacion ").show();

        $("#datas").hide();
        // Función para establecer los campos como "SIN INFORMACIÓN"
        function setFieldsToNoInfo() {
            $("#tipo_inmueble_rural, #uso_dominante_zona, #clasificacion_por_edad, #categoria, #grado_consolidacion").val('SIN INFORMACIÓN');
        }

        // Mostrar u ocultar campos basados en la selección de Zona
        function showHideFields(selectedValue) {
            if (selectedValue === "rural") {
                $("#uso_dominante_zona, #clasificacion_por_edad, #categoria, #grado_consolidacion").hide();
                $("#tipo_inmueble_rural").show();
                setFieldsToNoInfo();
            } else if (selectedValue === 'urbana') {
                $("#uso_dominante_zona, #clasificacion_por_edad, #categoria, #grado_consolidacion").show();
                $("#tipo_inmueble_rural").hide();
                setFieldsToNoInfo();
            } else {
                $("#tipo_inmueble_rural, #uso_dominante_zona, #clasificacion_por_edad, #categoria, #grado_consolidacion").hide();
                setFieldsToNoInfo();
            }
        }

        function showDatas(selectedValue) {
            if (selectedValue === "SI") {
                $("#datas").show();
            } else {
                $("#datas").hide();

            }
        }

        // Obtener el valor actual de Zona y mostrar campos correspondientes
        var initialZonaValue = $('#{{ inmueble.zona_ubicacion.auto_id }}').val();
        showHideFields(initialZonaValue);

        // Mostrar u ocultar campos y establecer valores como "SIN INFORMACIÓN" cuando cambia la selección de Zona
        $('#{{ inmueble.zona_ubicacion.auto_id }}').change(function() {
            var selectedValue = $(this).val();
            showHideFields(selectedValue);
        });

        // Obtener el valor actual de Zona y mostrar campos correspondientes
        var caracEspeciales = $('#{{ inmueble.monumento.auto_id }}, #{{ inmueble.historico.auto_id }}, #{{ inmueble.artistico.auto_id }}, #{{ inmueble.arqueologico.auto_id }}').val();
        showDatas(caracEspeciales);

        // Mostrar u ocultar campos y establecer valores como "SIN INFORMACIÓN" cuando cambia la selección de Zona
        $('#{{ inmueble.monumento.auto_id }}, #{{ inmueble.historico.auto_id }}, #{{ inmueble.artistico.auto_id }}, #{{ inmueble.arqueologico.auto_id }}').change(function() {
            var selectedValue = $(this).val();
            showDatas(selectedValue);
        });

    });

</script>

<script>
    function validateDate(input) {
        const selectedDate = new Date(input.value);
        const currentDate = new Date();
    
        if (selectedDate > currentDate) {
            document.getElementById('dateAlertLocal').style.display = 'block';
            input.value = ''; // Borra el valor si es posterior a la fecha actual
        } else {
            document.getElementById('dateAlertLocal').style.display = 'none';
        }
    }
    </script>



<!-- Titulo de Propiedad -->

<script>
    $(document).ready(function() {
        // Ocultar los campos "Folio Real Federal" y "Fecha Inscripción Federal" por defecto
        $("#folio_real_federal, #fecha_inscripcion_federal").hide();

        // Función para mostrar u ocultar campos según la selección
        function showHideFields(selectedValue) {
            if (selectedValue === "Si") {
                $("#folio_real_federal, #fecha_inscripcion_federal").show();
            } else {
                $("#folio_real_federal, #fecha_inscripcion_federal").hide();
            }
        }

        // Obtener el valor actual de "Inscripción por RPPF" y mostrar campos correspondientes
        var inscripcionRPPF = $("#{{ documento_propiedad_form.inscripcion_rppf.id_for_label }}").val();
        showHideFields(inscripcionRPPF);

        // Manejar cambios en "Inscripción por RPPF"
        $("#{{ documento_propiedad_form.inscripcion_rppf.id_for_label }}").change(function() {
            var selectedValue = $(this).val();
            showHideFields(selectedValue);
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Ocultar los campos por defecto
        $("#folio_real_local, #folio_real_auxiliar, #nombre_libro, #tomo_o_volumen, #numero, #foja_o_folio, #seccion, #fecha_inscripcion_local").hide();

        // Función para mostrar u ocultar campos según la selección
        function showHideFields(selectedValue) {
            if (selectedValue === "Si") {
                $("#folio_real_local, #folio_real_auxiliar, #nombre_libro, #tomo_o_volumen, #numero, #foja_o_folio, #seccion, #fecha_inscripcion_local").show();
            } else {
                $("#folio_real_local, #folio_real_auxiliar, #nombre_libro, #tomo_o_volumen, #numero, #foja_o_folio, #seccion, #fecha_inscripcion_local").hide();
            }
        }

        // Obtener el valor actual de "Inscripción por Registro Local" y mostrar campos correspondientes
        var inscripcionRegistroLocal = $("#{{ documento_propiedad_form.inscripcion_registro_local.id_for_label }}").val();
        showHideFields(inscripcionRegistroLocal);

        // Manejar cambios en "Inscripción por Registro Local"
        $("#{{ documento_propiedad_form.inscripcion_registro_local.id_for_label }}").change(function() {
            var selectedValue = $(this).val();
            showHideFields(selectedValue);
        });
    });
</script>
<script>
    
    $(document).ready(function() {
        loadInstitucionPropietaria();
    });

    function loadInstitucionPropietaria() {
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/4.json', function(data) {
            var institucion_propietario = data.Usuario_principal_Inmueble; // Accede a la propiedad correcta

            var selectInstPropietaria = $('[name="{{ documento_propiedad_form.institucion_propietario.html_name }}"]');

            selectInstPropietaria.empty(); // Limpiar opciones anteriores
            $.each(institucion_propietario, function(index, value){
                var selected = value === '{{documento_propiedad_form.instance.institucion_propietario  }}' ? 'selected' : '';
                selectInstPropietaria.append($('<option>').text(value).attr('value', value).prop('selected', selected));
            });
        });
    }
</script>




<!-- Uso -->

<script>
    function loadUsosGenericos() {
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/3/usoGenerico.json', function(data) {
            var usoGenerico = [...new Set(data.map(item => item.uso_generico))];
            var selectUsosGenericos = $('#{{ inmueble.usoGenerico.auto_id }}');

            selectUsosGenericos.empty();
            $.each(usoGenerico, function(index, value) {
                var selected = value === '{{ inmueble.instance.usoGenerico }}' ? 'selected' : '';
                selectUsosGenericos.append($('<option>').text(value).attr('value', value).prop('selected', selected));
            });
            loadUsosEspecificos();
        });
    }

    function loadUsosEspecificos() {
        var selectUsosGenericos = $('#{{ inmueble.usoGenerico.auto_id }}').val();
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/3/usoGenerico.json', function(data) {
            var usoEspecifico = [...new Set(data.filter(item => item.uso_generico === selectUsosGenericos)
                                        .map(item => item.uso_especifico))];

            var selectUsosEspecifico = $('#{{ inmueble.usoEspecifico.auto_id }}');
            selectUsosEspecifico.empty();
            $.each(usoEspecifico, function(index, value) {
                var selected = value === '{{ inmueble.instance.usoEspecifico }}' ? 'selected' : '';
                selectUsosEspecifico.append($('<option>').text(value).attr('value', value).prop('selected', selected));
                
            });
        });
    }

    $(document).ready(function() {
        loadUsosGenericos();
        $('#{{ inmueble.usoGenerico.auto_id }}').change(function() {
            loadUsosEspecificos($(this).val());
        });
    });
</script>

    
<script>
    $(document).ready(function() {
        
        $("#folioReal, #fecha_inscripcion_federal, #InstitucionesOcupantes").hide();
        $("#DocumentoOcupacion, #DatosTerceros").hide();

       
        function showUsuariosTerceros(selectedValue){
            if (selectedValue === "Si") {
                $("#DatosTerceros").show();
            } else {
                $("#DatosTerceros").hide();
            }
        }

        function showRPPF(selectedValue){
            if (selectedValue === "Si") {
                $("#folioReal, #fecha_inscripcion_federal").show();
            } else {
                $("#folioReal, #fecha_inscripcion_federal").hide();
            }
        }
        // Función para mostrar u ocultar campos según la selección
        function showHideFields(selectedValue){
            if (selectedValue === "Si") {
                $("#DocumentoOcupacion").show();
            } else {
                $("#DocumentoOcupacion").hide();
            }
        }

        function showinstitucionesOcupantes(selectedValue){
            if (selectedValue === "Si") {
                $("#InstitucionesOcupantes").show();
            } else {
                $("#InstitucionesOcupantes").hide();
            }
        }
        // Obtener el valor actual de "Inscripción por Registro Local" y mostrar campos correspondientes
        var inscripcionRegistroLocal = $("#{{ inmueble.documento_que_autoriza_ocupacion.id_for_label }}").val();
        showHideFields(inscripcionRegistroLocal);

  // Manejar cambios en "Inscripción por Registro Local"
        $("#{{ inmueble.documento_que_autoriza_ocupacion.id_for_label }}").change(function() {
            var selectedValue = $(this).val();
            showHideFields(selectedValue);
        });

        var inscripcionRPPF = $("#{{ documento_ocupacion_form.inscripcion_RPPF.id_for_label }}").val();
        showRPPF(inscripcionRPPF);

        $("#{{ documento_ocupacion_form.inscripcion_RPPF.id_for_label }}").change(function() {
            var selectedValue = $(this).val();
            showRPPF(selectedValue);
        });

        var institucionesOcupantes = $("#{{ inmueble.instituciones_ocupantes.id_for_label }}").val();
        showinstitucionesOcupantes(institucionesOcupantes);

        $("#{{ inmueble.instituciones_ocupantes.id_for_label }}").change(function() {
            var selectedValue = $(this).val();
            showinstitucionesOcupantes(selectedValue);
        });
        
        var usuariosTerceros = $("#{{ inmueble.usuarios_terceros.id_for_label }}").val();
        showUsuariosTerceros(usuariosTerceros);

        $("#{{ inmueble.usuarios_terceros.id_for_label }}").change(function() {
            var selectedValue = $(this).val();
            showUsuariosTerceros(selectedValue);
        });

      
    });
</script>

<script>
    $(document).ready(function() {
        loadUsoPorEdificacion();
    });
    function loadUsoPorEdificacion() {
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/2/.json', function(data) {
            var institucion_publica_ocupante = data.InstitucionPublicaOcupante; // Accede a la propiedad correcta

            var selectUsoPorEdificacion = $('[name="{{ instituciones_ocupantes_form.institucion_publica_ocupante.html_name }}"]');

            selectUsoPorEdificacion.empty(); // Limpiar opciones anteriores
            $.each(institucion_publica_ocupante, function(index, value){
                var selected = value === '{{instituciones_ocupantes_form.instance.institucion_publica_ocupante  }}' ? 'selected' : '';
                selectUsoPorEdificacion.append($('<option>').text(value).attr('value', value).prop('selected', selected));
            });
        });
    }
</script>
<script>
    $(document).ready(function() {
        loadUsuarioPrincipal();
    });

    function loadUsuarioPrincipal() {
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/4/.json', function(data) {
            var usuario_principal_del_inmueble = data.Usuario_principal_Inmueble; // Accede a la propiedad correcta

            var selectUsuarioPrincipal = $('[name="{{ inmueble.usuario_principal_del_inmueble.html_name }}"]');

            selectUsuarioPrincipal.empty(); // Limpiar opciones anteriores
            $.each(usuario_principal_del_inmueble, function(index, value){
                var selected = value === '{{inmueble.instance.usuario_principal_del_inmueble  }}' ? 'selected' : '';
                selectUsuarioPrincipal.append($('<option>').text(value).attr('value', value).prop('selected', selected));
            });
        });
    }
</script>


<script>
    $(document).ready(function() {
        // Manejador de clics para los botones de "Eliminar"
        $(".eliminar-btn").click(function(event) {
            event.preventDefault(); // Previene el comportamiento predeterminado del enlace

            var url = $(this).attr("href"); // Obtiene la URL de eliminación
            var tipo = $(this).data("tipo"); // Obtiene el tipo de elemento a eliminar
            var id = $(this).data("id"); // Obtiene el ID del elemento a eliminar
            var tablaContainerId = "#tabla" + tipo + "Container"; // Construye el ID del contenedor de la tabla

            // Utiliza SweetAlert para la confirmación de eliminación
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción no se puede deshacer.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realiza una solicitud AJAX para eliminar el elemento
                    $.ajax({
                        type: "POST", // O GET si lo prefieres
                        url: url,
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}", // Asegúrate de enviar el token CSRF
                        },
                        success: function(response) {
                            // Elimina la fila correspondiente en la tabla
                            $("#" + tipo + "-" + id).remove();
                            // Actualiza la tabla después de eliminar
                            $(tablaContainerId).load("{% url 'Detalle_inmueble' task_id=task.id %} " + tablaContainerId);
                            // Muestra un mensaje de éxito con SweetAlert
                            Swal.fire({
                                icon: 'success',
                                title: 'Eliminado exitosamente',
                                showConfirmButton: false,
                                timer: 2000 // Oculta automáticamente después de 2 segundos
                            });
                            // Recarga la página después de 3 segundos
                            setTimeout(function() {
                                location.reload();
                            }, 2000);
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            // Maneja errores si es necesario
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Hubo un error al intentar eliminar el registro.'
                            });
                        }
                    });
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Agrega un manejador de eventos al botón "Guardar" de Documento de Ocupación
        $("#guardarDocumentoOcupacion").click(function() {
            var formData = $("#documentoOcupacionForm").serialize();
    
            // Realiza una solicitud Ajax para guardar los datos del formulario de Documento de Ocupación
            $.ajax({
                url: "{% url 'guardar_documento_ocupacionIMP' task_id=task.id %}",
                type: "POST",
                data: formData,
                success: function(response) {
                    if (response.success) {
                        // Actualiza la tabla después de guardar
                        $("#tablaDocumentoOcupacionContainer").load("{% url 'Detalle_inmueble' task_id=task.id %} #tablaDocumentoOcupacionContainer");
                        
                        // Restablece el formulario de Documento de Ocupación
                        $("#documentoOcupacionForm")[0].reset();

                        // Muestra un mensaje de éxito con SweetAlert
                        Swal.fire({
                            icon: 'success',
                            title: 'Guardado exitoso',
                            text: 'Los datos se guardaron correctamente.',
                            timer: 3000, // Oculta automáticamente después de 3 segundos
                            showConfirmButton: false
                        });
                        setTimeout(function() {
                                location.reload();
                            }, 2000);
                    } else {
                        // Muestra un mensaje de error con SweetAlert
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un error al guardar, llene sus campos'
                        });
                    }
                },
                error: function() {
                    // Muestra un mensaje de error con SweetAlert
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Se produjo un error al enviar el formulario de Documento de Ocupación.'
                    });
                },
            });
        });
    });
</script>

<script>
    $(document).ready(function() {
        // Agrega un manejador de eventos al botón "Guardar" de Instituciones Ocupantes
        $("#guardarInstitucionesOcupantes").click(function(event) {
            // Evita que el formulario se envíe automáticamente
            event.preventDefault();

            var formData = $("#institucionesOcupantesForm").serialize();

            // Realiza una solicitud Ajax para guardar los datos del formulario de Instituciones Ocupantes
            $.ajax({
                url: "{% url 'guardar_instituciones_ocupantesIMP' task_id=task.id %}",
                type: "POST",
                data: formData,
                success: function(response) {
                    if (response.success) {
                        // Actualiza la tabla después de guardar
                        $("#tablaInstitucionesOcupantesContainer").load("{% url 'Detalle_inmueble' task_id=task.id %} #tablaInstitucionesOcupantesContainer");

                        // Restablece el formulario de Instituciones Ocupantes
                        $("#institucionesOcupantesForm")[0].reset();

                        // Muestra una alerta de éxito con SweetAlert
                        Swal.fire({
                            icon: 'success',
                            title: 'Guardado exitosamente',
                            showConfirmButton: false,
                            timer: 2000 // Oculta automáticamente después de 2 segundos
                        });
                        setTimeout(function() {
                                location.reload();
                            }, 2000);
                    } else {
                        // Muestra una alerta de error con SweetAlert
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un error al guardar, llene sus campos'
                        });
                    }
                },
                error: function() {
                    // Muestra una alerta de error con SweetAlert
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Se produjo un error al enviar el formulario de Instituciones Ocupantes.'
                    });
                },
            });
        });
    });
</script>

<script>
    $(document).ready(function() {
        // Agrega un manejador de eventos al botón "Guardar" de Datos de Terceros
        $("#guardarDatosTerceros").click(function(event) {
            // Evita que el formulario se envíe automáticamente
            event.preventDefault();

            var formData = $("#datosTercerosForm").serialize();

            // Realiza una solicitud Ajax para guardar los datos del formulario de Datos de Terceros
            $.ajax({
                url: "{% url 'guardar_datos_tercerosIMP' task_id=task.id %}",
                type: "POST",
                data: formData,
                success: function(response) {
                    if (response.success) {
                        // Actualiza la tabla después de guardar
                        $("#tablaDatosTercerosContainer").load("{% url 'Detalle_inmueble' task_id=task.id %} #tablaDatosTercerosContainer");

                        // Restablece el formulario de Datos de Terceros
                        $("#datosTercerosForm")[0].reset();

                        // Muestra una alerta de éxito con SweetAlert
                        Swal.fire({
                            icon: 'success',
                            title: 'Guardado exitosamente',
                            showConfirmButton: false,
                            timer: 2000 // Oculta automáticamente después de 2 segundos
                        });
                        setTimeout(function() {
                                location.reload();
                            }, 2000);
                    } else {
                        // Muestra una alerta de error con SweetAlert
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un error al guardar, llene sus campos'
                        });
                    }
                },
                error: function() {
                    // Muestra una alerta de error con SweetAlert
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Se produjo un error al enviar el formulario de Datos de Terceros.'
                    });
                },
            });
        });
    });
</script>



<!-- Aprovechamiento -->

<script>
    $(document).ready(function() {

        // Función para reiniciar los valores de los campos ocultos


        function showProyectoInmediato(selectedValue) {
            if (selectedValue === 'true') {
                $(" #data-ProyectoID").show();
            } else{
                $(" #data-ProyectoID").hide();
            }
        }

        function showatencionPublico(selectedValue) {
            if (selectedValue === 'true') {
                $(" #data-Publico").show();
            } else{
                $(" #data-Publico").hide();
                
            }
        }

        function showinmuebleCondominio(selectedValue) {
            if (selectedValue === 'true') {
                $(" #data-InCondominio").show();
            } else{
                $(" #data-InCondominio").hide();
            }
        }

        // Mostrar u ocultar campos basados en la selección de Aprovechamiento
        function showHideFields(selectedValue) {
      
            $("#inmueble-publico-fields, #gasto-mantenimiento-fields, #inmueble-condominio-fields, #cuenta-proyecto-fields, #inmueble-no-aprovechable-fields").hide();

            if (selectedValue === "SIN INFORMACIÓN" || selectedValue === "APROVECHADO" || selectedValue === "NO APROVECHADO") {
                $("#inmueble-publico-fields, #gasto-mantenimiento-fields, #inmueble-condominio-fields").show();
                $('#data-ProyectoID').hide();
            } else if (selectedValue === "APROVECHABLE") {
                $("#inmueble-publico-fields, #gasto-mantenimiento-fields, #inmueble-condominio-fields, #cuenta-proyecto-fields").show();
            } else if (selectedValue === "NO APROVECHABLE") {
                $("#inmueble-publico-fields, #gasto-mantenimiento-fields, #inmueble-condominio-fields, #inmueble-no-aprovechable-fields").show();
            }
        }

        // Obtener el valor actual de Aprovechamiento y mostrar campos correspondientes
        var initialAprovechamientoValue = $('#{{ inmueble.aprovechamiento.auto_id }}').val();
        showHideFields(initialAprovechamientoValue);
        // Mostrar u ocultar campos y reiniciar valores cuando cambia la selección de Aprovechamiento
        $('#{{ inmueble.aprovechamiento.auto_id }}').change(function() {
            var selectedValue = $(this).val();
            showHideFields(selectedValue);
        });

        var proyectoInmediato = $('#{{ inmueble.cuenta_con_proyecto_de_uso_inmediato_desarrollado.auto_id }}').val();
        showProyectoInmediato(proyectoInmediato);
        // Mostrar u ocultar campos y reiniciar valores cuando cambia la selección de Aprovechamiento
        $('#{{ inmueble.cuenta_con_proyecto_de_uso_inmediato_desarrollado.auto_id }}').change(function() {
            var selectedValue = $(this).val();
            showProyectoInmediato(selectedValue);
        });

        var atencionPublico = $('#{{ inmueble.inmueble_con_atencion_al_publico.auto_id }}').val();
        showatencionPublico(atencionPublico);
        // Mostrar u ocultar campos y reiniciar valores cuando cambia la selección de Aprovechamiento
        $('#{{ inmueble.inmueble_con_atencion_al_publico.auto_id }}').change(function() {
            var selectedValue = $(this).val();
            showatencionPublico(selectedValue);
        });

        var inmuebleCondominio = $('#{{ inmueble.inmueble_en_condominio.auto_id }}').val();
        showinmuebleCondominio(inmuebleCondominio);
        // Mostrar u ocultar campos y reiniciar valores cuando cambia la selección de Aprovechamiento
        $('#{{ inmueble.inmueble_en_condominio.auto_id }}').change(function() {
            var selectedValue = $(this).val();
            showinmuebleCondominio(selectedValue);
        });
    });
</script>



<!-- Valor -->
<script>
    
    $(document).ready(function() {
        // Agrega un manejador de eventos al botón "Guardar" de Documento de Ocupación
        $("#guardarAvaluoIMP").click(function(event) {
            var formData = $("#avaluoForm").serialize();
            event.preventDefault();
    
            // Realiza una solicitud Ajax para guardar los datos del formulario de Documento de Ocupación
            $.ajax({
                url: "{% url 'guardar_AvaluoIMP' task_id=task.id %}",
                type: "POST",
                data: formData,
                success: function(response) {
                    if (response.success) {
                        // Actualiza la tabla después de guardar
                        $("#tablaAvaluos").load("{% url 'Detalle_inmueble' task_id=task.id %} #tablaAvaluos");
                        
                        // Restablece el formulario de Documento de Ocupación
                        $("#avaluoForm")[0].reset();
                    } else {
                        alert("Hubo un error al guardar el formulario de Avaluo.");
                    }
                },
                error: function() {
                    alert("Se produjo un error al enviar el formulario de Avaluo");
                },
            });
        });
    });
</script>



<!-- Tramites y Ocupaciones -->
<script>
  $(document).ready(function() {
  $("#data-Expediente, #data-juzgado, #data-procedimiento, #data-acto, #data-recuperado, #data-fecha_recuperado").hide();

       
  function showtipoProcedimiento(selectedValue){
      if (selectedValue === "administrativo" || selectedValue === 'averiguacion_previa' || selectedValue === 'judicial') {
          $("#data-Expediente, #data-juzgado, #data-procedimiento, #data-acto, #data-recuperado").show();
      } else {
          $("#data-Expediente, #data-juzgado, #data-procedimiento, #data-acto, #data-recuperado").hide();
      }
  }

  function showrecuperado(selectedValue){
    if (selectedValue === "Si") {
        $("#fecha_recuperado").show();
    } else {
        $("#fecha_recuperado").hide();
    }
}


    var tipoProcedimiento = $('#{{ ocupaciones_form.tipo_procedimiento.auto_id }}').val();
                showtipoProcedimiento(tipoProcedimiento);
                // Mostrar u ocultar campos y reiniciar valores cuando cambia la selección de Aprovechamiento
                $('#{{ ocupaciones_form.tipo_procedimiento.auto_id }}').change(function() {
                    var selectedValue = $(this).val();
                    showtipoProcedimiento(selectedValue);
                });

    var recuperado = $('#{{ ocupaciones_form.recuperado.auto_id }}').val();
          showrecuperado(recuperado);
              // Mostrar u ocultar campos y reiniciar valores cuando cambia la selección de Aprovechamiento
              $('#{{ ocupaciones_form.recuperado.auto_id }}').change(function() {
                  var selectedValue = $(this).val();
                  showrecuperado(selectedValue);
              });
            });
</script>
<script>
    
  $(document).ready(function() {
      // Agrega un manejador de eventos al botón "Guardar" de Documento de Ocupación
      $("#guardarOcupacion").click(function(event) {
          var formData = $("#ocupacionForm").serialize();
          event.preventDefault();
  
          // Realiza una solicitud Ajax para guardar los datos del formulario de Documento de Ocupación
          $.ajax({
              url: "{% url 'guardar_OcupacionesIMP' task_id=task.id %}",
              type: "POST",
              data: formData,
              success: function(response) {
                  if (response.success) {
                      // Actualiza la tabla después de guardar
                      $("#tablaOcupaciones").load("{% url 'Detalle_inmueble' task_id=task.id %} #tablaOcupaciones");
                      
                      // Restablece el formulario de Documento de Ocupación
                      $("#ocupacionForm")[0].reset();
                  } else {
                      alert("Hubo un error al guardar el formulario de Ocupaciones.");
                  }
              },
              error: function() {
                  alert("Se produjo un error al enviar el formulario de Ocupaciones");
              },
          });
      });
  });
</script>
<script>
  function validateDate(input, alertType) {
      var selectedDate = new Date(input.value);
      var currentDate = new Date();
      var alertId = input.id === "{{ ocupaciones_form.fecha_recuperado.id_for_label }}" ? "dateAlertFederal" : "dateAlertLocal";

      if (selectedDate > currentDate) {
          var alert = document.getElementById(alertId);
          alert.style.display = 'block';

          // Agregamos estilos para hacer la alerta flotante
          alert.style.position = 'fixed';
          alert.style.top = '10px';
          alert.style.right = '10px';
          alert.style.zIndex = '1000'; // Asegura que esté por encima de otros elementos

          input.value = ''; // Limpia el campo de fecha

          // Cierra la alerta después de 5 segundos (5000 ms)
          setTimeout(function() {
              alert.style.display = 'none';
          }, 5000);
      } else {
          document.getElementById(alertId).style.display = 'none';
      }
  }
</script>


<!-- Mensajes -->


<!-- JavaScript para inicializar el modal -->
<script>
    $(document).ready(function() {
        $('#nuevoMensajeModal').on('hidden.bs.modal', function () {
            // Limpiar el formulario al cerrar el modal
            $('#form-container').trigger("reset");
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    function completarMensaje(mensajeId) {
        // Envía una solicitud AJAX al servidor para marcar el mensaje como "Completado".
        // Ajusta la URL y otros detalles de la solicitud según tus necesidades.

        // Ejemplo de solicitud Fetch API:
        fetch(`/completar_mensajeIMP/${mensajeId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({ estado: 'completado' })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Actualiza el estado del mensaje en la interfaz gráfica
                const botonCompletar = document.getElementById(`completar_${mensajeId}`);
                botonCompletar.textContent = 'Completado';
            } else {
                console.error('Error al marcar el mensaje como completado.');
            }
        })
        .catch(error => {
            console.error('Error de red:', error);
        });
    }

    // Función para obtener el valor de la cookie CSRF
    function getCookie(name) {
        var value = '; ' + document.cookie;
        var parts = value.split('; ' + name + '=');
        if (parts.length == 2) return parts.pop().split(';').shift();
    }
</script>


<script>
    $(document).ready(function() {
        $("#toggle-tasks").click(function() {
            $("#tasks-container").slideToggle();
            if ($(this).find("i").hasClass("fa-chevron-down")) {
                $(this).find("i").removeClass("fa-chevron-down").addClass("fa-chevron-up");
            } else {
                $(this).find("i").removeClass("fa-chevron-up").addClass("fa-chevron-down");
            }
        });
    
        // Actualizar el contador al cargar la página
        updatePendingCount();
    
        function updatePendingCount() {
            var count = `{{ task.mensajes.all|length }}`;
            $("#pending-count").text("Tareas Pendientes: " + count);
        }
    });
    </script>

<style>

.modal-content {
    display: block;
    margin: auto;
    max-width: 1100%;
    max-height: 160%;
  
}

    @media (max-width: 560px) {
    .msjbtn{
        width: 45% !important;
        left: 30% !important;
    }
}
</style>

