<div class="tab-content" id="tab-tituloProp">
    <div class="section">
        <div class="separador">
        <div class="form-section">
            <h3>Agregar Nuevo Documento de Propiedad</h3>
            <br>
            <form method="post" id="docPropiedadForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group form-check-inline">
                    <label for="{{ documento_propiedad_form.propietario_inmueble.id_for_label }}">Propietario del inmueble según documento de propiedad:</label>
                    {{ documento_propiedad_form.propietario_inmueble }}
                </div>
                <div class="form-group">
                    <label for="{{ documento_propiedad_form.institucion_propietario.id_for_label }}">Institución Propietario:</label>
                    <select id="{{ documento_propiedad_form.institucion_propietario.auto_id }}" name="{{ documento_propiedad_form.institucion_propietario.html_name }}"></select>
                </div>
                <div class="form-group form-check-inline">
                    <label for="{{ documento_propiedad_form.superficie_amparada_m2.id_for_label }}">Superficie en m² amparada por el título de propiedad:</label>
                    {{ documento_propiedad_form.superficie_amparada_m2 }}
                </div>
                <div class="form-group form-check-inline">
                    <label for="{{ documento_propiedad_form.tipo_documento.id_for_label }}">Tipo Documento:</label>
                    {{ documento_propiedad_form.tipo_documento }}
                </div>
                <div class="form-group form-check-inline">
                    <label for="{{ documento_propiedad_form.numero_de_documento.id_for_label }}">Número de Documento:</label>
                    {{ documento_propiedad_form.numero_de_documento }}
                </div>
                <div class="form-group form-check-inline">
                    <label for="{{ documento_propiedad_form.fecha_creacion_DOC.id_for_label }}">Fecha de Creación:</label>
                    <input type="date" id="{{ documento_propiedad_form.fecha_creacion_DOC.id_for_label }}" name="{{ documento_propiedad_form.fecha_creacion_DOC.name }}" class="form-control" value="{{ documento_propiedad_form.fecha_creacion_DOC.value|default:'' }}" max="{{ 'now'|date:'Y-m-d' }}" onchange="validateDate(this)" required>
                </div>
                
                <div id="dateAlert" class="alert alert-danger" style="display: none;">
                    La fecha no puede ser posterior a la fecha actual.
                </div>
                                        
                <div class="form-group">
                    <label for="{{ documento_propiedad_form.expedido_por.id_for_label }}">Expedido por:</label>
                    {{ documento_propiedad_form.expedido_por }}
                </div>
                <div class="form-group form-check-inline">
                    <label for="{{ documento_propiedad_form.inscripcion_rppf.id_for_label }}">Inscripción por RPPF:</label>
                    {{ documento_propiedad_form.inscripcion_rppf }}
                </div>
                <div class="form-group form-check-inline" id="folio_real_federal">
                    <label for="{{ documento_propiedad_form.folio_real_federal.id_for_label }}">Folio Real Federal:</label>
                    {{ documento_propiedad_form.folio_real_federal }}
                </div>
                <div class="form-group form-check-inline" id="fecha_inscripcion_federal">
                    <label for="{{ documento_propiedad_form.fecha_inscripcion_federal.id_for_label }}">Fecha Inscripción Federal:</label>
                    <input type="date" id="{{ documento_propiedad_form.fecha_inscripcion_federal.id_for_label }}" name="{{ documento_propiedad_form.fecha_inscripcion_federal.name }}" class="form-control" value="{{ documento_propiedad_form.fecha_inscripcion_federal.value|default:'' }}" max="{{ 'now'|date:'Y-m-d' }}" onchange="validateDate(this)">
                </div>
                
                <div id="dateAlertFederal" class="alert alert-danger" style="display: none;">
                    La fecha no puede ser posterior a la fecha actual.
                </div>
                <br>
                <div class="form-group form-check-inline">
                    <label for="{{ documento_propiedad_form.inscripcion_registro_local.id_for_label }}">Inscripción por Registro Local:</label>
                    {{ documento_propiedad_form.inscripcion_registro_local }}
                </div>
                
                <div class="form-group form-check-inline" id="folio_real_local">
                    <label for="{{ documento_propiedad_form.folio_real_local.id_for_label }}">Folio Real Local:</label>
                    {{ documento_propiedad_form.folio_real_local }}
                </div>

                <div class="form-group form-check-inline" id="folio_real_auxiliar">
                    <label for="{{ documento_propiedad_form.folio_real_auxiliar.id_for_label }}">Folio Real Auxiliar:</label>
                    {{ documento_propiedad_form.folio_real_auxiliar }}
                </div>

                <div class="form-group form-check-inline" id="nombre_libro">
                    <label for="{{ documento_propiedad_form.nombre_libro.id_for_label }}">Nombre del Libro:</label>
                    {{ documento_propiedad_form.nombre_libro }}
                </div>

                <div class="form-group form-check-inline" id="tomo_o_volumen">
                    <label for="{{ documento_propiedad_form.tomo_o_volumen.id_for_label }}">Tomo o Volumen:</label>
                    {{ documento_propiedad_form.tomo_o_volumen }}
                </div>

                <div class="form-group form-check-inline" id="numero">
                    <label for="{{ documento_propiedad_form.numero.id_for_label }}">Número:</label>
                    {{ documento_propiedad_form.numero }}
                </div>

                <div class="form-group form-check-inline" id="foja_o_folio">
                    <label for="{{ documento_propiedad_form.foja_o_folio.id_for_label }}">Foja o Folio:</label>
                    {{ documento_propiedad_form.foja_o_folio }}
                </div>

                <div class="form-group form-check-inline" id="seccion">
                    <label for="{{ documento_propiedad_form.seccion.id_for_label }}">Sección:</label>
                    {{ documento_propiedad_form.seccion }}
                </div>

                <div class="form-group form-check-inline" id="fecha_inscripcion_local">
                    <label for="{{ documento_propiedad_form.fecha_inscripcion_local.id_for_label }}">Fecha Inscripción Local:</label>
                    <input type="date" id="{{ documento_propiedad_form.fecha_inscripcion_local.id_for_label }}"  name="{{ documento_propiedad_form.fecha_inscripcion_local.name }}" class="form-control" value="{{ documento_propiedad_form.fecha_inscripcion_local.value|default:'' }}" max="{{ 'now'|date:'Y-m-d' }}" onchange="validateDate(this)" >
                </div>
                
                <div id="dateAlertLocal" class="alert alert-danger" style="display: none;">
                    La fecha no puede ser posterior a la fecha actual.
                </div>
                
                <div class="form-group">
                    <label for="{{ documento_propiedad_form.archivo.id_for_label }}">Archivo Adjunto:</label>
                    {{ documento_propiedad_form.archivo }}
                </div>
                <button class="btn btn-outline-success" type="submit" id="guardarDocPropiedad">Agregar Documento</button>
            </form>
        </div>
    </div>
</div>
    <div class="form-section">
        <h3>Documentos de Propiedad:</h3>
        <div class="table-responsive" id="tablaDocPropiedad">
            <table class="table">
                <thead>
                    <tr>
                        <th>Propietario del inmueble según documento de propiedad:</th>
                        <th>Institución Propietario</th>
                        <th>Superficie en m² amparada por el título de propiedad</th>
                        <th>Tipo Documento</th>
                        <th>Número de Documento</th>
                        <th>Fecha del Documento</th>
                        <th>Expedido por</th>
                        <th>Inscripción en RPPF</th>
                        {% if inscripcion_rppf_exists %}
                            <th>Folio Real Federal</th>
                            <th>Fecha Inscripción Federal</th>
                        {% endif %}
                        <th>Inscripción en Registro Local</th>
                        {% if inscripcion_registro_local_exists %}
                            <th>Folio Real Local</th>
                            <th>Folio Real Auxiliar</th>
                            <th>Nombre del Libro</th>
                            <th>Tomo o Volumen</th>
                            <th>Número</th>
                            <th>Foja o Folio</th>
                            <th>Sección</th>
                            <th>Fecha Inscripción Local</th>
                        {% endif %}
                        <th>Archivo Adjunto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for documento in task.docprop.all %}
                        <tr>
                            <td>{{ documento.propietario_inmueble }}</td>
                            <td>{{ documento.institucion_propietario }}</td>
                            <td>{{ documento.superficie_amparada_m2 }}</td>
                            <td>{{ documento.tipo_documento }}</td>
                            <td>{{ documento.numero_de_documento }}</td>
                            <td>{{ documento.fecha_creacion_DOC }}</td>
                            <td>{{ documento.expedido_por }}</td>
                            <td>{{ documento.inscripcion_rppf }}</td>
                            {% if inscripcion_rppf_exists %}
                                <td>{{ documento.folio_real_federal }}</td>
                                <td>{{ documento.fecha_inscripcion_federal }}</td>
                            {% endif %}
                            <td>{{ documento.inscripcion_registro_local }}</td>
                            {% if inscripcion_registro_local_exists %}
                                <td>{{ documento.folio_real_local }}</td>
                                <td>{{ documento.folio_real_auxiliar }}</td>
                                <td>{{ documento.nombre_libro }}</td>
                                <td>{{ documento.tomo_o_volumen }}</td>
                                <td>{{ documento.numero }}</td>
                                <td>{{ documento.foja_o_folio }}</td>
                                <td>{{ documento.seccion }}</td>
                                <td>{{ documento.fecha_inscripcion_local }}</td>
                            {% endif %}
                            <td>
                                {% if documento.archivo %}
                                    <a href="{{ documento.archivo.url }}" target="_blank" class="">Ver Archivo</a>
                                {% else %}
                                    Sin archivo adjunto
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'editar_documentoIMP' documento_id=documento.id %}" class="btn btn-sm"> Editar </a>
                                <a href="{% url 'eliminar_documentoIMP' documento_id=documento.id %}" class="btn btn-sm" onclick="return confirm('¿Estás seguro de que deseas eliminar este documento de propiedad?')">Eliminar</a> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Ocultar los campos "Folio Real Federal" y "Fecha Inscripción Federal" por defecto
        $("#folio_real_federal, #fecha_inscripcion_federal").hide();

        // Función para mostrar u ocultar campos según la selección
        function showHideFields(selectedValue) {
            if (selectedValue === "Si") {
                $("#folio_real_federal, #fecha_inscripcion_federal").show();
            } else {
                $("#folio_real_federal, #fecha_inscripcion_federal").hide();
            }
        }

        // Obtener el valor actual de "Inscripción por RPPF" y mostrar campos correspondientes
        var inscripcionRPPF = $("#{{ documento_propiedad_form.inscripcion_rppf.id_for_label }}").val();
        showHideFields(inscripcionRPPF);

        // Manejar cambios en "Inscripción por RPPF"
        $("#{{ documento_propiedad_form.inscripcion_rppf.id_for_label }}").change(function() {
            var selectedValue = $(this).val();
            showHideFields(selectedValue);
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Ocultar los campos por defecto
        $("#folio_real_local, #folio_real_auxiliar, #nombre_libro, #tomo_o_volumen, #numero, #foja_o_folio, #seccion, #fecha_inscripcion_local").hide();

        // Función para mostrar u ocultar campos según la selección
        function showHideFields(selectedValue) {
            if (selectedValue === "Si") {
                $("#folio_real_local, #folio_real_auxiliar, #nombre_libro, #tomo_o_volumen, #numero, #foja_o_folio, #seccion, #fecha_inscripcion_local").show();
            } else {
                $("#folio_real_local, #folio_real_auxiliar, #nombre_libro, #tomo_o_volumen, #numero, #foja_o_folio, #seccion, #fecha_inscripcion_local").hide();
            }
        }

        // Obtener el valor actual de "Inscripción por Registro Local" y mostrar campos correspondientes
        var inscripcionRegistroLocal = $("#{{ documento_propiedad_form.inscripcion_registro_local.id_for_label }}").val();
        showHideFields(inscripcionRegistroLocal);

        // Manejar cambios en "Inscripción por Registro Local"
        $("#{{ documento_propiedad_form.inscripcion_registro_local.id_for_label }}").change(function() {
            var selectedValue = $(this).val();
            showHideFields(selectedValue);
        });
    });
</script>
<script>
    function validateDate(input, alertType) {
        var selectedDate = new Date(input.value);
        var currentDate = new Date();
        var alertId = input.id === "{{ documento_propiedad_form.fecha_inscripcion_local.id_for_label }}" ? "dateAlertFederal" : "dateAlertLocal";

        if (selectedDate > currentDate) {
            var alert = document.getElementById(alertId);
            alert.style.display = 'block';

            // Agregamos estilos para hacer la alerta flotante
            alert.style.position = 'fixed';
            alert.style.top = '10px';
            alert.style.right = '10px';
            alert.style.zIndex = '1000'; // Asegura que esté por encima de otros elementos

            input.value = ''; // Limpia el campo de fecha

            // Cierra la alerta después de 5 segundos (5000 ms)
            setTimeout(function() {
                alert.style.display = 'none';
            }, 5000);
        } else {
            document.getElementById(alertId).style.display = 'none';
        }
    }
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        loadInstitucionPropietaria();
    });

    function loadInstitucionPropietaria() {
        $.getJSON('https://historia-4c332-default-rtdb.firebaseio.com/4.json', function(data) {
            var institucion_propietario = data.Usuario_principal_Inmueble; // Accede a la propiedad correcta

            var selectInstPropietaria = $('[name="{{ documento_propiedad_form.institucion_propietario.html_name }}"]');

            selectInstPropietaria.empty(); // Limpiar opciones anteriores
            $.each(institucion_propietario, function(index, value){
                var selected = value === '{{documento_propiedad_form.instance.institucion_propietario  }}' ? 'selected' : '';
                selectInstPropietaria.append($('<option>').text(value).attr('value', value).prop('selected', selected));
            });
        });
    }
</script>
