<div class="tab-content" id="tab-ubicacion">
  <div class="section">
    <h2>Ubicación</h2>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.pais.id_for_label }}">País:</label>
      {{ inmueble.pais }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.entidad_federativa.id_for_label }}"
        >Entidad Federativa:</label
      >
      <select
        id="{{ inmueble.entidad_federativa.auto_id }}"
        name="{{ inmueble.entidad_federativa.html_name }}"
      ></select>
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.municipio_alcaldia.id_for_label }}"
        >Municipio o Alcaldía:</label
      >
      <select
        id="{{ inmueble.municipio_alcaldia.auto_id }}"
        name="{{ inmueble.municipio_alcaldia.html_name }}"
      ></select>
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.localidad.id_for_label }}">Localidad:</label>
      {{ inmueble.localidad }}
    </div>
    <div class="form-group">
      <label for="{{ inmueble.fotografia_de_la_ubicacion.id_for_label }}"
        >Fotografía de Ubicación:</label
      >
      <div class="m-2">{{ inmueble.fotografia_de_la_ubicacion }}</div>
      <a
        class="btn btn-outline-success m-2"
        href="https://www.google.com.mx/maps/"
        target="_blank"
      >
        Ir a Google Maps</a
      >
    </div>

    {% if task.fotografia_de_la_ubicacion %}
    <img width="150" src="{{ inmueble.fotografia_de_la_ubicacion.url }}" alt="Fotografía de ubicación" onclick="openModal('{{ inmueble.fotografia_de_la_ubicacion.url }}')"/>
    {% else %}
    <p>No hay fotografía de ubicación disponible.</p>
    {% endif %}

    <br><br>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.componente_espacial.id_for_label }}"
        >Componente Espacial:</label
      >
      {{ inmueble.componente_espacial }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.tipo_vialidad.id_for_label }}"
        >Tipo de Vialidad:</label
      >
      {{ inmueble.tipo_vialidad }}
    </div>
    <div class="form-group">
      <label for="{{ inmueble.nombre_vialidad.id_for_label }}"
        >Nombre de la Vialidad:</label
      >
      {{ inmueble.nombre_vialidad }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.numero_exterior.id_for_label }}"
        >Número Exterior:</label
      >
      {{ inmueble.numero_exterior }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.numero_exterior_2.id_for_label }}"
        >Número Exterior 2:</label
      >
      {{ inmueble.numero_exterior_2 }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.numero_interior.id_for_label }}"
        >Número Interior:</label
      >
      {{ inmueble.numero_interior }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.tipo_asentamiento.id_for_label }}"
        >Tipo de Asentamiento:</label
      >
      {{ inmueble.tipo_asentamiento }}
    </div>
    <div class="form-group">
      <label for="{{ inmueble.nombre_asentamiento.id_for_label }}"
        >Nombre de Asentamiento:</label
      >
      {{ inmueble.nombre_asentamiento }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.codigo_postal.id_for_label }}">Código Postal:</label>
      {{ inmueble.codigo_postal }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.entre_vialidades_referencia1.id_for_label }}"
        >Entre Vialidades Referencia 1:</label
      >
      {{ inmueble.entre_vialidades_referencia1 }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.entre_vialidades_referencia2.id_for_label }}"
        >Entre Vialidades Referencia 2:</label
      >
      {{ inmueble.entre_vialidades_referencia2 }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.vialidad_posterior.id_for_label }}"
        >Vialidad Posterior:</label
      >
      {{ inmueble.vialidad_posterior }}
    </div>
    <div class="form-group">
      <label for="{{ inmueble.descripcion_ubicacion.id_for_label }}"
        >Descripción de Ubicación:</label
      >
      {{ inmueble.descripcion_ubicacion }}
    </div>
  </div>

  <div class="separador">
    <h4>Proporcione los datos del Punto Geográfico</h4>
    <div class="form-group width-label">
      <label for="{{ inmueble.datum.id_for_label }}">Datum:</label>
      {{ inmueble.datum }}
    </div>
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.utmx.id_for_label }}"
        >Georreferenciación por UTMX:</label
      >
      {{ inmueble.utmx }}
    </div>

    <div class="form-group form-check-inline">
      <label for="{{ inmueble.utmy.id_for_label }}"
        >Georreferenciación por UTMY:</label
      >
      {{ inmueble.utmy }}
    </div>
    <br />
    <div class="form-group form-check-inline">
      <label for="{{ inmueble.utm_zona.id_for_label }}"
        >Georreferenciación por UTM Zona:</label
      >
      {{ inmueble.utm_zona }}
    </div>

    <div class="form-group form-check-inline">
      <label for="{{ inmueble.latitud.id_for_label }}"
        >Georreferenciación Latitud:</label
      >
      {{ inmueble.latitud }}
    </div>

    <div class="form-group form-check-inline">
      <label for="{{ inmueble.longitud.id_for_label }}"
        >Georreferenciación Longitud:</label
      >
      {{ inmueble.longitud }}
    </div>
  </div>


<div class="separador">
  <div id="colindancias-table">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Orientación</th>
          <th>Colindancia</th>
          <th>Medida en Metros</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for colindancia in task.colindancias.all %}
        <tr>
          <td>{{ colindancia.orientacion }}</td>
          <td>{{ colindancia.colindancia }}</td>
          <td>{{ colindancia.medida_en_metros }}</td>
          <td>
            <button class="delete-colindancia-btn btn btn-outline-danger btn-sm" data-url="{% url 'delete_ColindanciaIMP' task_id=task.id colindancia_id=colindancia.id %}">Eliminar</button>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  <h4>Proporcione los datos de las colindancias</h4>
  <form method="POST" id="colindancias-form">
    {% csrf_token %}
    <!-- Campos del formulario de colindancias -->
    <div class="form-group form-check-inline width-label">
      <label for="id_orientacion">Orientación:</label>
      {{ colindancia_form.orientacion }}
    </div>
    <div class="form-group form-check-inline">
      <label for="id_colindancia">Colindancia:</label>
      {{ colindancia_form.colindancia }}
    </div>
    <div class="form-group form-check-inline">
      <label for="id_medida_en_metros">Medida en Metros:</label>
      {{ colindancia_form.medida_en_metros }}
    </div>
    <button type="submit" class="btn btn-primary" id="guardar-colindancia">
      Guardar
    </button>
  </form>
</div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Función para cargar las entidades federativas en el campo select
  function loadEntidadesFederativas() {
    $.getJSON("/get_entidades_federativas/", function (data) {
      var selectEntidades = $("#{{ inmueble.entidad_federativa.auto_id }}");
      selectEntidades.empty();
      $.each(data.entidades_federativas, function (index, value) {
        // Verificar si el valor de entidad_federativa coincide con el valor actual del campo
        var selected =
          value === "{{ inmueble.instance.entidad_federativa }}" ? "selected" : "";
        selectEntidades.append(
          $("<option>")
            .text(value)
            .attr("value", value)
            .prop("selected", selected)
        );
      });
      loadMunicipios(selectEntidades.val()); // Cargamos los municipios correspondientes a la entidad seleccionada
    });
  }

  // Función para cargar los municipios en el campo select
  function loadMunicipios(entidadFederativa) {
    $.getJSON("/get_municipios/" + entidadFederativa + "/", function (data) {
      var selectMunicipios = $("#{{ inmueble.municipio_alcaldia.auto_id }}");
      selectMunicipios.empty();
      $.each(data.municipios, function (index, value) {
        // Verificar si el valor de municipio_alcaldia coincide con el valor actual del campo
        var selected =
          value === "{{ inmueble.instance.municipio_alcaldia }}" ? "selected" : "";
        selectMunicipios.append(
          $("<option>")
            .text(value)
            .attr("value", value)
            .prop("selected", selected)
        );
      });
    });
  }

  // Función para cargar los datos al cargar la página
  $(document).ready(function () {
    loadEntidadesFederativas(); // Cargamos las entidades federativas
    $("#{{ inmueble.entidad_federativa.auto_id }}").change(function () {
      loadMunicipios($(this).val()); // Cargamos los municipios al cambiar la entidad federativa seleccionada
    });
  });
</script>

