<div class="tab-content animated fadeIn low" id="tab-uso">
    <div class="section">
        <div class="form-group">
            <label for="{{ inmueble.usuario_principal_del_inmueble.id_for_label }}">Usuario Principal del
                Inmueble:</label>
            <select class="form-select" id="{{ inmueble.usuario_principal_del_inmueble.auto_id }}"
                name="{{ inmueble.usuario_principal_del_inmueble.html_name }}"></select>
        </div>

        <div class="form-group form-check-inline">
            <label for="{{ inmueble.usoGenerico.id_for_label }}">Uso Genérico:</label>
            <select class="form-select" id="{{ inmueble.usoGenerico.auto_id }}" name="{{ inmueble.usoGenerico.html_name }}"></select>
        </div>

        <div class="form-group form-check-inline">
            <label for="{{ inmueble.usoEspecifico.id_for_label }}">Uso Específico:</label>
            <select class="form-select" id="{{ inmueble.usoEspecifico.auto_id }}" name="{{ inmueble.usoEspecifico.html_name }}"></select>
        </div>

        <div class="form-group">
            <label for="{{ inmueble.uso_de_suelo_autorizado.id_for_label }}">Uso de Suelo Autorizado:</label>
            {{ inmueble.uso_de_suelo_autorizado }}
        </div>

        <div class="form-group form-check-inline">
            <label for="{{ inmueble.numero_de_empleados_en_el_inmueble.id_for_label }}">Número de Empleados en el
                Inmueble:</label>
            {{ inmueble.numero_de_empleados_en_el_inmueble }}
        </div>

        <div class="form-group form-check-inline form-check-inline">
            <label for="{{ inmueble.documento_que_autoriza_ocupacion.id_for_label }}">Documento que Autoriza
                Ocupación:</label>
            {{ inmueble.documento_que_autoriza_ocupacion }}
        </div>
        <div class="separador" id="DocumentoOcupacion">
            <h4>Proporcione los datos del Documento de Ocupación:</h4>
            <form id="documentoOcupacionForm" method="post" class="task-form">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ documento_ocupacion_form.tipo_de_documento.id_for_label }}">Tipo de
                        Documento:</label>
                    {{ documento_ocupacion_form.tipo_de_documento }}
                </div>

                <div class="form-group form-check-inline" id="fecha_documento_group">
                    <label for="{{ documento_ocupacion_form.fecha_documento.id_for_label }}">Fecha de Documento:</label>
                    <input type="date" id="{{ documento_ocupacion_form.fecha_documento.id_for_label }}"
                        name="{{ documento_ocupacion_form.fecha_documento.name }}" class="form-control"
                        value="{{ documento_ocupacion_form.fecha_documento.value|default:'' }}"
                        max="{{ 'now'|date:'Y-m-d' }}" onchange="validateDate(this, 'dateAlertDocumento')">
                </div>

                <div id="dateAlertDocumento" class="alert alert-danger" style="display: none;">
                    La fecha no puede ser posterior a la fecha actual.
                </div>


                <div class="form-group form-check-inline">
                    <label id="inscripcion_RPPF"
                        for="{{ documento_ocupacion_form.inscripcion_RPPF.id_for_label }}">Inscripción RPPF:</label>
                    {{ documento_ocupacion_form.inscripcion_RPPF }}
                </div>

                <div class="form-group form-check-inline" id="folioReal">
                    <label id="folioReal" for="{{ documento_ocupacion_form.folio_real_federal.id_for_label }}">Folio
                        Real Federal:</label>
                    {{ documento_ocupacion_form.folio_real_federal }}
                </div>

                <div class="form-group form-check-inline" id="fecha_inscripcion_federal">
                    <label for="{{ documento_ocupacion_form.fecha_inscripcion_federal.id_for_label }}">Fecha de
                        Inscripción Federal:</label>
                    <input type="date" id="{{ documento_ocupacion_form.fecha_inscripcion_federal.id_for_label }}"
                        name="{{ documento_ocupacion_form.fecha_inscripcion_federal.name }}" class="form-control"
                        value="{{ documento_ocupacion_form.fecha_inscripcion_federal.value|default:'' }}"
                        max="{{ 'now'|date:'Y-m-d' }}" onchange="validateDate(this, 'dateAlertFIF')">
                </div>
                <div id="dateAlertFIF" class="alert alert-danger" style="display: none;">
                    La fecha no puede ser posterior a la fecha actual.
                </div>


                <button type="button" class="btn btn-primary" id="guardarDocumentoOcupacion">Guardar</button>

            </form>
            <br><br>
            <div id="tablaDocumentoOcupacionContainer">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Tipo de Documento</th>
                            <th>Fecha de Documento</th>
                            <th>Inscripción RPPF</th>
                            <th>Folio Real Federal</th>
                            <th>Fecha de Inscripción Federal</th>
                            <th>Acciones</th>
                            <!-- Agrega aquí las columnas adicionales que desees mostrar -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for documento_ocupacion in task.docOcupacion.all %}
                        <tr>
                            <td>{{ documento_ocupacion.tipo_de_documento }}</td>
                            <td>{{ documento_ocupacion.fecha_documento }}</td>
                            <td>{{ documento_ocupacion.inscripcion_RPPF }}</td>
                            {% if documento_ocupacion.folio_real_federal %}
                            <td>{{ documento_ocupacion.folio_real_federal }}</td>
                            {% else %}
                            <td> </td>
                            {% endif %}
                            {% if documento_ocupacion.fecha_inscripcion_federal %}
                            <td>{{ documento_ocupacion.fecha_inscripcion_federal }}</td>
                            {% else %}
                            <td> </td>
                            {% endif %}

                            <td>
                                <a href="{% url 'eliminar_docOcupacionIMP' docOcupacion_id=documento_ocupacion.id %}"
                                    class="btn btn-outline-danger btn-sm eliminar-btn" data-tipo="documento_ocupacion"
                                    data-id="{{ documento_ocupacion.id }}">Eliminar</a>
                            </td>
                            <!-- Agrega aquí las celdas correspondientes a las columnas adicionales -->
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No hay registros de documentos de ocupación.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="form-group form-check-inline">
            <label for="{{ inmueble.instituciones_ocupantes.id_for_label }}">Instituciones Ocupantes:</label>
            {{ inmueble.instituciones_ocupantes }}
        </div>

        <div class="separador" id="InstitucionesOcupantes">
            <h4>Proporcione los datos de las Instituciones Ocupantes</h4>

            <!-- Formulario para agregar nuevas instituciones ocupantes -->
            <form id="institucionesOcupantesForm" method="post" class="task-form">
                {% csrf_token %}

                <div class="form-group">
                    <label
                        for="{{ instituciones_ocupantes_form.institucion_publica_ocupante.id_for_label }}">Institución
                        Pública Ocupante:</label>
                    <select class="form-select form-check-inline" required id="{{ instituciones_ocupantes_form.institucion_publica_ocupante.auto_id }}"
                        name="{{ instituciones_ocupantes_form.institucion_publica_ocupante.html_name }}"></select>
                </div>

                <div class="form-group form-check-inline">
                    <label for="{{ instituciones_ocupantes_form.superficie_asignada.id_for_label }}">Superficie Asignada
                        a la Institución Ocupante:</label>
                    <input type="number" name="superficie_asignada" id="id_superficie_asignada" required>
                </div>
                <div class="form-group form-check-inline">
                    <label for="{{ instituciones_ocupantes_form.uso_institucion_ocupante.id_for_label }}">Uso de la
                        Institución Ocupante:</label>
                    {{ instituciones_ocupantes_form.uso_institucion_ocupante }}
                </div>
                <div class="form-group form-check-inline">
                    <label for="{{ instituciones_ocupantes_form.superficie_disponible.id_for_label }}">Superficie
                        Disponible:</label>
                    {{ instituciones_ocupantes_form.superficie_disponible }}
                </div>

                <button type="submit" class="btn btn-primary" id="guardarInstitucionesOcupantes">Guardar</button>
            </form>
            <br><br>
            <div id="tablaInstitucionesOcupantesContainer">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Institución Pública Ocupante</th>
                            <th>Superficie Asignada</th>
                            <th>Uso de la Institución Ocupante</th>
                            <th>Superficie Disponible</th>
                            <th>Acciones</th>
                            <!-- Agrega aquí las columnas adicionales que desees mostrar -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for institucion_ocupante in task.instOcupante.all %}
                        <tr>
                            <td>{{ institucion_ocupante.institucion_publica_ocupante }}</td>
                            <td>{{ institucion_ocupante.superficie_asignada }}</td>
                            <td>{{ institucion_ocupante.uso_institucion_ocupante }}</td>
                            <td>{{ institucion_ocupante.superficie_disponible }}</td>
                            <td>
                                <a href="{% url 'eliminar_DatoInstitucionOcupanteIMP' datoInstitucionOcupante_id=institucion_ocupante.id %}"
                                    class="btn btn-outline-danger btn-sm eliminar-btn" data-tipo="institucion_ocupante"
                                    data-id="{{ institucion_ocupante.id }}">Eliminar</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No hay registros de instituciones ocupantes.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group form-check-inline">
            <label for="{{ inmueble.usuarios_terceros.id_for_label }}">Usuarios Terceros:</label>
            {{ inmueble.usuarios_terceros }}
        </div>

        <div class="separador" id="DatosTerceros">
            <h4>Proporcione los datos de Terceros Usuarios:</h4>
            <form method="post" class="task-form" id="datosTercerosForm">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ datos_terceros_form.tipo_usuario_tercero.id_for_label }}">Tipo de Terceros
                        Usuarios:</label>
                    {{ datos_terceros_form.tipo_usuario_tercero }}
                </div>

                <div class="form-group form-check-inline">
                    <label for="{{ datos_terceros_form.beneficiario.id_for_label }}">Beneficiario:</label>
                    {{ datos_terceros_form.beneficiario }}
                </div>

                <div class="form-group form-check-inline" id="">
                    <label for="{{ datos_terceros_form.nombre_beneficiario.id_for_label }}">Nombre Beneficiario:</label>
                    {{ datos_terceros_form.nombre_beneficiario }}
                </div>

                <div class="form-group form-check-inline" id="">
                    <label for="{{ datos_terceros_form.rfc.id_for_label }}">RFC:</label>
                    {{ datos_terceros_form.rfc }}
                </div>

                <div class="form-group form-check-inline" id="fecha_inicio_vigencia">
                    <label for="{{ datos_terceros_form.fecha_inicio_vigencia.id_for_label }}">Fecha de Inicio
                        Vigencia:</label>
                    <input type="date" id="{{ datos_terceros_form.fecha_inicio_vigencia.id_for_label }}"
                        name="{{ datos_terceros_form.fecha_inicio_vigencia.name }}" class="form-control"
                        value="{{ datos_terceros_form.fecha_inicio_vigencia.value|default:'' }}"
                        max="{{ 'now'|date:'Y-m-d' }}" onchange="validateDate(this, 'dateAlertIVigencia')">
                </div>

                <div id="dateAlertIVigencia" class="alert alert-danger" style="display: none;">
                    La fecha no puede ser posterior a la fecha actual.
                </div>

                <div class="form-group form-check-inline" id="fecha_termino_vigencia">
                    <label for="{{ datos_terceros_form.fecha_termino_vigencia.id_for_label }}">Fecha de termino
                        Vigencia:</label>
                    <input type="date" id="{{ datos_terceros_form.fecha_termino_vigencia.id_for_label }}"
                        name="{{ datos_terceros_form.fecha_termino_vigencia.name }}" class="form-control"
                        value="{{ datos_terceros_form.fecha_termino_vigencia.value|default:'' }}"
                        max="{{ 'now'|date:'Y-m-d' }}" onchange="validateDate(this, 'dateAlertTerminoVigencia')">
                </div>
                <div id="dateAlertTerminoVigencia" class="alert alert-danger" style="display: none;">
                    La fecha no puede ser posterior a la fecha actual.
                </div>

                <div class="form-group form-check-inline" id="prorroga">
                    <label for="{{ datos_terceros_form.prorroga.id_for_label }}">Prórroga:</label>
                    <input type="date" id="{{ datos_terceros_form.prorroga.id_for_label }}"
                        name="{{ datos_terceros_form.prorroga.name }}" class="form-control"
                        value="{{ datos_terceros_form.prorroga.value|default:'' }}" max="{{ 'now'|date:'Y-m-d' }}"
                        onchange="validateDate(this, 'dateAlertProrroga')">
                </div>
                <div id="dateAlertProrroga" class="alert alert-danger" style="display: none;">
                    La fecha no puede ser posterior a la fecha actual.
                </div>


                <div class="form-group form-check-inline" id="">
                    <label for="{{ datos_terceros_form.inscripcion_folio_real_federal.id_for_label }}">Inscripción Folio
                        Real Federal:</label>
                    {{ datos_terceros_form.inscripcion_folio_real_federal }}
                </div>

                <div class="form-group form-check-inline" id="">
                    <label for="{{ datos_terceros_form.superficie_objeto_ocupacion_metros.id_for_label }}">Superficie
                        Objeto de la Ocupación (metros):</label>
                    {{ datos_terceros_form.superficie_objeto_ocupacion_metros }}
                </div>

                <div data-mdb-input-init class="form-group form-check-inline" id="">
                    <label class="form-label" for="id_uso">Uso:</label>
                    <input class="form-control"  type="text" name="uso" maxlength="255" id="id_uso">
                </div>

                <button type="submit" class="btn btn-primary" id="guardarDatosTerceros">Guardar</button>
            </form>
            <br><br>
            <div class="table-responsive" id="tablaDatosTercerosContainer">
                <table class="table" style="width: 140% !important;">
                    <thead>
                        <tr>
                            <th>Tipo de Terceros Usuarios</th>
                            <th>Beneficiario</th>
                            <th>Nombre Beneficiario</th>
                            <th>RFC</th>
                            <th>Fecha de Inicio Vigencia</th>
                            <th>Fecha de Término Vigencia</th>
                            <th>Prórroga</th>
                            <th>Inscripción Folio Real Federal</th>
                            <th>Superficie Objeto de la Ocupación (metros)</th>
                            <th>Uso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for datos_terceros in task.datosTerceros.all %}
                        <tr>
                            <td>{{ datos_terceros.tipo_usuario_tercero }}</td>
                            <td>{{ datos_terceros.beneficiario }}</td>
                            <td>{{ datos_terceros.nombre_beneficiario }}</td>
                            <td>{{ datos_terceros.rfc }}</td>
                            <td>{{ datos_terceros.fecha_inicio_vigencia }}</td>
                            <td>{{ datos_terceros.fecha_termino_vigencia }}</td>
                            <td>{{ datos_terceros.prorroga }}</td>
                            <td>{{ datos_terceros.inscripcion_folio_real_federal }}</td>
                            <td>{{ datos_terceros.superficie_objeto_ocupacion_metros }}</td>
                            <td>{{ datos_terceros.uso }}</td>
                            <td>
                                <a href="{% url 'deleteDatosTercerosIMP' datos_terceros_id=datos_terceros.id %}"
                                    class="btn btn-outline-danger btn-sm eliminar-btn" data-tipo="datos_terceros"
                                    data-id="{{ datos_terceros.id }}">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>