<div class="tab-content animated fadeIn" id="tab-descripcion">
    <div class="section">
        <div class="form-group">
            <label for="{{ inmueble.NombreInmueble.id_for_label }}">Nombre del Inmueble:</label>
            {{ inmueble.NombreInmueble }}
        </div>
        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.seccion_del_inventario.id_for_label }}">Sección del Inventario:</label>
            <select id="{{ inmueble.seccion_del_inventario.auto_id }}"
                name="{{ inmueble.seccion_del_inventario.html_name }}"></select>
        </div>
        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.Dependencia_Administradora.id_for_label }}">Dependencia Administradora:</label>
            <select id="{{ inmueble.Dependencia_Administradora.auto_id }}"
                name="{{ inmueble.Dependencia_Administradora.html_name }}"></select>
        </div>
        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.Sector.id_for_label }}">Sector:</label>
            {{ inmueble.Sector }}
        </div>
        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.Nombre_de_la_institucion_que_administra_el_inmueble.id_for_label }}">Nombre de la
                Institución que administra el inmueble:</label>
            {{ inmueble.Nombre_de_la_institucion_que_administra_el_inmueble }}
        </div>
        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.Naturaleza_Juridica_de_la_Institucion.id_for_label }}">Naturaleza Jurídica de la
                Institución:</label>
            {{ inmueble.Naturaleza_Juridica_de_la_Institucion }}
        </div>
        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.subSeccion.id_for_label }}">SubSección:</label>
            <select id="{{ inmueble.subSeccion.auto_id }}" name="{{ form.subSeccion.html_name }}"></select>
        </div>

        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.Denominaciones_anteriores.id_for_label }}">Denominaciones anteriores:</label>
            {{ inmueble.Denominaciones_anteriores }}
        </div>
        <div class="form-group form-check-inline ">
            <label for="{{ inmueble.UR.id_for_label }}">UR:</label>
            {{ inmueble.UR }}
        </div>
        <div class="form-group form-check-inline ">
            <label for="{{ inmueble.causa_alta.id_for_label }}">Causa alta:</label>
            {{ inmueble.causa_alta }}
        </div>
        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.prioridad.id_for_label }}">Prioridad:</label>
            {{ inmueble.prioridad }}
        </div><br>

        {% if request.user.is_superuser %}
        <div class="form-group form-check-inline">
            <label for="{{ inmueble.assigned_to.id_for_label }}">Asignar a:</label>
            {{ inmueble.assigned_to }}
        </div>
        <div class="form-group form-check-inline width-label">
            <label for="{{ inmueble.deadline.id_for_label }}">Fecha limite:</label>
            {{ inmueble.deadline }}
            </div>
        </div>


        {% else %}
        <p style="color: brown;">No tienes permisos para asignar tareas a otros usuarios.</p>
        {% endif %}

    </div>
</div>
<!-- Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Inicializar deadline con flatpickr
    flatpickr("#{{ inmueble.deadline.id_for_label }}", {
        dateFormat: "d/m/Y",
        minDate: "today", // no permite fechas pasadas
        allowInput: true
    });
});
</script>